<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i><span>Back</span></a>
        </div>
        <div class="center sliding">课程详情</div>
        <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="course-detail" class="page" ng-controller="courseDetailController">
        <div class="page-content course-detail">
            <div class="detail-img">
                <img src="./../../../assets/images/banner0.jpg">
            </div>
            <div>
                <div class="detail-top">
                    <div class="course-list-img pull-left">
                        <img ng-src="{{courseObj.image}}">
                    </div>
                    <div class="course-list-main pull-right">
                        <div class="list-title">
                            <h5 ng-bind="courseObj.name"></h5>
                            <span><i ng-bind="courseObj.price | RMB"></i></span>
                        </div>
                        <div class="list-desc">
                            <div ng-bind="courseObj.school.name"></div>
                            <p>报名截止：<span ng-bind="courseObj.endDate"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons-row air-tabs">
                <a href="#tabBrief" class="tab-link active"><span>课程简介</span></a>
                <a href="#tabTerm" class="tab-link"><span>报名条件</span></a>
                <a href="#tabTeach" class="tab-link"><span>教学资源</span></a>
            </div>
            <div class="tabs">
                <div id="tabBrief" class="tab active">
                    <div class="detail-main">
                        <p ng-bind="courseObj.description"></p>
                    </div>
                </div>
                <div id="tabTerm" class="tab">
                    <div class="detail-main">
                        <p ng-bind="courseObj.enrollment"></p>
                    </div>
                </div>
                <div id="tabTeach" class="tab">
                    <div class="detail-main">
                        <p ng-bind="courseObj.courseService"></p>
                    </div>
                </div>
            </div>
            <div class="detail-btn">我要报名</div>
        </div>
    </div>
</div>
