<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
    <div class="center sliding">精品课程</div>
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="course" class="page" ng-controller="courseController">
    <div class="page-content">
      <div class="subnavbar course-nav">
        <div class="buttons-row">
          <a href="#tab1" class="button tab-link active">直升机</a>
          <a href="#tab2" class="button tab-link">固定翼</a>
        </div>
      </div>
      <div class="tabs course-content">
        <div id="tab1" class="tab active">
          <div class="course-list">
            <ul>
              <li ng-repeat="item in courseCopterList track by $index">
                <a href="app/components/airtrain/course-detail.html?id={{item.id}}" class="clearfix">
                  <div class="course-list-img pull-left">
                    <img ng-src="{{item.image}}">
                  </div>
                  <div class="course-list-main pull-right">
                    <div class="list-title">
                      <h5 ng-bind="item.name"></h5>
                      <span class="pull-right"><i ng-bind="item.price | RMB"></i></span>
                    </div>
                    <div class="list-desc">
                      <div ng-bind="item.school.name"></div>
                      <p>报名截止：<span ng-bind="item.endDate"></span></p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div id="tab2" class="tab">
          <div class="course-list">
            <ul>
              <li ng-repeat="item in courseFixedList track by $index">
                <a href="app/components/airtrain/course-detail.html?id={{item.id}}" class="clearfix">
                  <div class="course-list-img pull-left">
                    <img ng-src="{{item.image}}">
                  </div>
                  <div class="course-list-main pull-right">
                    <div class="list-title">
                      <h5 ng-bind="item.name"></h5>
                      <span><i ng-bind="item.price | RMB"></i></span>
                    </div>
                    <div class="list-desc">
                      <div ng-bind="item.school.name"></div>
                      <p>报名截止：<span ng-bind="item.endDate"></span></p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
