<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">课程详情</div>
        <!--<div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>-->
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="course-detail" class="page" ng-controller="courseDetailController">
        <div class="page-content course-detail">
        <div>
                <div class="detail-top">
                    <div class="course-list-img pull-left">
                        <img ng-src="{{courseObj.image}}">
                    </div>
                    <div class="course-list-main pull-right">
                        <div class="list-title">
                            <h5 ng-bind="courseObj.name"></h5>
                            <span><i ng-bind="courseObj.price | RMB"></i></span>
                        </div>
                        <div class="list-desc">
                            <div ng-bind="courseObj.school.name"></div>
                            <p>截止：<span ng-bind="courseObj.endDate"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-img">
                <img src="assets/images/training/course-banner.png">
            </div>
            <div class="buttons-row air-tabs">
                <a href="#tabBrief" class="tab-link active"><span>课程简介</span></a>
                <a href="#tabTerm" class="tab-link"><span>报名条件</span></a>
                <a href="#tabTeach" class="tab-link"><span>教学资源</span></a>
            </div>
            <div class="tabs">
                <div id="tabBrief" class="tab active">
                    <div class="detail-main">
                        <div marked="courseObj.courseService"></div>
                    </div>
                </div>
                <div id="tabTerm" class="tab">
                    <div class="detail-main">
                        <div marked="courseObj.enrollment"></div>
                    </div>
                </div>
                <div id="tabTeach" class="tab">
                    <div class="detail-main">
                        <div marked="courseObj.description"></div>
                    </div>
                </div>



                <!--评论-->
                <div class="infinite-scroll infinite-scroll-top comment-container discuss-bottom">
                    <div class="comment-title">
                        <i class="f7-icons icon">chats</i>
                        <span class="comment-text">评论</span>
                        <span class="comment-score">总评分
                        <span class="comment-number">{{score}}</span>
                    </span>
                    </div>
                    <div class="comment-none" ng-show="comments.length == 0">暂无评论</div>
                    <div class="comment-list" ng-show="comments.length > 0">
                        <div class="list-block" ng-repeat="comment in comments">
                            <div class="comment-core">
                                <div class="comment-content">
                                    <div class="inner-header">
                                        <div class="comment-avatar"><img src="{{comment.owner.avatar}}" width="30" height="30"></div>
                                        <div class="comment-name">{{comment.owner.name}} <span class="pull-right comment-date">{{comment.date | date:'yyyy-MM-dd'}}</span></div>
                                        <div class="comment-star">
                                            <i class="f7-icons icon">{{comment.rate > 0 ? 'star_fill' : 'star'}}</i>
                                            <i class="f7-icons icon">{{comment.rate > 1 ? 'star_fill' : 'star'}}</i>
                                            <i class="f7-icons icon">{{comment.rate > 2 ? 'star_fill' : 'star'}}</i>
                                            <i class="f7-icons icon">{{comment.rate > 3 ? 'star_fill' : 'star'}}</i>
                                            <i class="f7-icons icon">{{comment.rate > 4 ? 'star_fill' : 'star'}}</i>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-comment">
                                    <div class="comment-inner">
                                        {{comment.content}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-more" ng-show="!showMore">
                            <a href="#" class="item-link button" ng-click="showMoreCommentAction()">查看更多</a>
                        </div>
                        <!--加载提示符-->
                        <div class="infinite-scroll-preloader" ng-show="loading">
                            <div class="preloader"></div>
                        </div>
                    </div>
                </div>



            </div>
            <a href="app/components/airtrain/entered.html?param={{enterObj}}" class="detail-btn">我要报名</a>
        </div>
    </div>
</div>
