<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
    <div class="center sliding">我要报名</div>
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="course-enter" class="page" ng-controller="enteredController">
    <div class="page-content entered">
      <div class="list-block">
        <div class="enter-check">
          <!--<div class="title">{{'airtrain.selectionType' | translate}}:</div>-->
          <!--<div class="enter-radio">-->
            <!--<label class="label-checkbox checkbox-circle item-content">-->
              <!--&lt;!&ndash;<input type="radio" name="modelType" value="{{enterObj.airType}}" ng-model="enterObj.airType"></input>&ndash;&gt;-->
              <!--<div class="item-media">-->
                <!--&lt;!&ndash;<i class="icon icon-form-checkbox"></i> &ndash;&gt;-->
                <!--{{enterObj.airType}}-->
              <!--</div>-->
            <!--</label>-->
          <!--</div>-->

          <div class="enter-title" style="width: 80px;">{{'airtrain.selectionType' | translate}}: </div>
          <div class="enter-detail" style="margin-left: 0;width:240px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">{{enterObj.airType}}</div>
        </div>
        <div class="enter-check">
          <div class="enter-title" style="width: 80px;">{{'airtrain.license' | translate}}: </div>
          <div class="enter-detail" style="margin-left: 0;width:240px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">{{licenses[0]}}</div>
          <!--<div class="enter-radio" ng-repeat="item in licenses track by $index">-->
            <!--<span style="width: 300px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">{{item}}</span>-->
            <!--&lt;!&ndash;<label class="label-checkbox checkbox-circle item-content" ng-click="licenseClick($index)">&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<input type="radio" name="licenseRadio" value="{{item}}" ng-model="enterObj.license">&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="item-media" style="width: 300px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<i class="icon icon-form-checkbox"></i>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;{{item}}&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</label>&ndash;&gt;-->
          <!--</div>-->
        </div>
        <div class="enter-check">
          <div class="enter-title" style="width: 80px;">{{'airtrain.location' | translate}}: </div>
          <div class="enter-detail" style="margin-left: 0;width:240px;">{{place[0]}}</div>

          <!--<div class="title">{{'airtrain.location' | translate}}:</div>-->
          <!--<div class="enter-radio" ng-repeat="item in place track by $index">-->
            <!--<label class="label-checkbox checkbox-circle item-content" ng-click="locationClick($index)">-->
              <!--&lt;!&ndash;<input type="radio" name="locationRadio" value="{{item}}" ng-model="enterObj.location">&ndash;&gt;-->
              <!--<div class="item-media">-->
                <!--&lt;!&ndash;<i class="icon icon-form-checkbox"></i> &ndash;&gt;-->
                <!--{{item}}-->
              <!--</div>-->
            <!--</label>-->
          <!--</div>-->
        </div>
      </div>
      <div class="list-block">
        <div class="user-info">
          <div class="user-info-title">{{'airjet.guest-info' | translate}}</div>
          <div class="form">
            <div class="form-group">
              <label>姓名：</label>
              <input type="text" ng-model="enterObj.person" placeholder="{{'airjet.enter' | translate}}">
            </div>
            <div class="form-group">
              <label>身份证：</label>
              <input type="text" ng-model="enterObj.identity" placeholder="{{'airjet.enter' | translate}}">
            </div>
            <div class="form-textare">
              <label>飞行经历：</label>
              <textarea ng-model="enterObj.note" placeholder="{{'airtrain.exper' | translate}}"></textarea>
            </div>
          </div>
        </div>
        <div class="detail-btn">
          <button type="button" ng-click="enterBtn()">提交</button>
        </div>
      </div>
    </div>
  </div>
</div>
