<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="airtrain.html" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding">Air Training</div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="school" class="page" ng-controller="schoolController">
        <div class="page-content">
            <div class="content-block">
                <div class="content-block-inner">
                    <p class="air-red">taxi</p>
                    <p>Go <a href="#" class="back">back</a> or click  <a href="#" class="create-page">here </a>to create dynamic page.</p>
                    <p>Mauris posuere sit amet metus id venenatis. Ut ante dolor, tempor nec commodo rutrum, varius at sem. Nullam ac nisi non neque ornare pretium. Nulla mauris mauris, consequat et elementum sit amet, egestas sed orci. In hac habitasse platea dictumst.</p>
                    <a href="#" class="back">goto</a>
                    <a href="#" class="back">back</a>
                    <a href="#" class="back">back</a>
                </div>
            </div>
        </div>
    </div>
</div>