<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">航校详情</div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="school" class="page" ng-controller="schoolController">
        <div class="page-content">
            <div class="buttons-row air-tabs">
                <!-- Link to 1st tab, active -->
                <a href="#tab1" class="tab-link active"><span>{{'airtrain.school-brief' | translate}}</span></a>
                <!-- Link to 2nd tab -->
                <a href="#tab2" class="tab-link"><span>{{'airtrain.base-brief' | translate}}</span></a>
                <!-- Link to 3nd tab -->
                <a href="#tab3" class="tab-link"><span>{{'airtrain.base-clsss' | translate}}</span></a>
            </div>
            <div class="tabs">
                <!-- Tab 1, active by default -->
                <div id="tab1" class="tab active">
                    <div class="content-block">
                        <!--<div style="background-image:url({{school.image}})" class="color-white no-border school-brief-image"></div>-->
                        <p marked="school.description"></p>
                    </div>
                </div>
                <!-- Tab 2 -->
                <div id="tab2" class="tab">
                    <div class="content-block">
                        <p marked="school.baseDesc"></p>
                        <!--//school-content-->
                        <!--<div style="background-image:url({{items[1].imgUrl}})" class="color-white no-border school-brief-image"></div>-->
                        <!--<div>-->
                            <!--<div class="p-title-container">-->
                                <!--<span class="p-title">{{school.baseDesc}}</span>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;<p>{{content.content}}</p>&ndash;&gt;-->
                        <!--</div>-->
                    </div>
                </div>
                <!-- Tab 2 -->
                <div id="tab3" class="tab">
                    <div class="content-block school-content">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>