<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding">航校详情</div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="school" class="page" ng-controller="schoolController">
        <div class="page-content">
            <div class="buttons-row air-tabs">
                <!-- Link to 1st tab, active -->
                <a href="#tab1" class="tab-link active"><span>{{'airtrain.school-brief' | translate}}</span></a>
                <!-- Link to 2nd tab -->
                <a href="#tab2" class="tab-link"><span>{{'airtrain.base-brief' | translate}}</span></a>
            </div>
            <div class="tabs">
                <!-- Tab 1, active by default -->
                <div id="tab1" class="tab active">
                    <div class="content-block school-content">
                        <div style="background-image:url({{items[0].imgUrl}})" class="color-white no-border school-brief-image"></div>
                        <p>{{items[0].content}}</p>
                    </div>
                </div>
                <!-- Tab 2 -->
                <div id="tab2" class="tab">
                    <div class="content-block school-content">
                        <div style="background-image:url({{items[1].imgUrl}})" class="color-white no-border school-brief-image"></div>
                        <div ng-repeat="content in items[1].contents">
                            <div class="p-title-container">
                                <span class="p-title">{{content.title}}</span>
                            </div>
                            <p>{{content.content}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>