
<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">乘客安全须知</div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="safe" class="page">
        <div class="page-content">
            <div class="content-block safety-instructions">
              <div class="content-title">直升机安全注意事项</div>
              <p>1. 请参加空中游览的乘客自觉排队，逐个接受安全检查。在接受检查前须出示乘机人本人有效乘机证件。</p>
              <p>2. 空中游览乘客禁止携带各类背包乘机。</p>
              <p>3. 婴儿（2周岁以下）不能乘机，儿童（2-12周岁）需由成人陪同乘坐。</p>
              <p>4. 孕妇、心脏病、传染性疾病人员及民航规定的特殊旅客及限乘旅客不能乘机。</p>
              <p>5. 禁止携带违禁品乘机。</p>
              <p>6. 服从机场服务人员指挥，禁止随意穿行，禁止到指定区域以外活动（拍照、观览等）。</p>
              <p>7. 飞行过程中，为避免影响飞行安全，请禁止使用闪光灯进行拍照、拍摄。</p>
              <p>8. 飞行中，未经工作人员许可，禁止揭下防闪光膜进行摄影。</p>
              <p>9. 因直升机的螺旋桨在旋转，请注意不要接近机头和机尾，在指定通道内进行登机。</p>
              <p>10. 机翼旋转时将产生强风，乘客要注意各自的帽子和丝巾，女乘客要注意自己的裙摆。</p>
              <p>11. 乘客登机时要注意头顶和脚下安全。</p>
              <p>12. 登机时的坐席由机场服务人员根据直升机配载情况指定，听从机场工作人员的安排。</p>
              <p>13. 为保证飞行安全，登机后请立即系好安全带，在飞机降落前不可解开。</p>
              <p>14. 在机舱内不可触摸机内的各种开关和机门把手，以保证飞行安全。</p>
              <p>15. 在飞行中若感到不适，应及时通过耳机联系机长。</p>
              <p>16. 乘客若有违反上述规定，情节严重者，机场有权取消其乘机资格。</p>
          </div>
        </div>
    </div>
</div>
