
<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">Forms</div>
        <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="safe" class="page">
        <div class="page-content">
            <div class="content-block">
                <p>安全须知</p>
            </div>

        </div>
    </div>
</div>