
<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">Air Community免责声明</div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="announce" class="page">
        <div class="page-content">
          <div class="content-block disclaimer">
            <p>1. Air community属于第三方服务平台，主要功能是使通航运营商与用户信息交流与服务交易更加便利。本平台上所有产品均由第三方运营商提供，其真实性、合法性、安全性均由均由第三方运营商负责。本平台会对第三方运营商的经营资质、产品进行审核评估，并尽力协助解决用户在在已购买的产品服务项目中出现的问题，但平台本身不承担相关的运营责任。如不能协商解决的，用户可以向消费者协会投诉或通过法律途径解决。</p>
            <p>2. 因不可抗力而引起的服务延期或终止而对用户造成影响的，双方免责，由用户和第三方运营商协商解决。“不可抗力”是指包括但不限于政府行为、大规模空军管制、天气、地震、台风、洪水、火灾或其他天灾、战争或任何其它类似事件。</p>
            <p>3. 以任何方式登录或者进入网站或直接、间接使用上述信息资料，我们均视为您自愿接受并完全同意本声明。</p>
          </div>
      </div>
    </div>
</div>
