<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding color-black order-center">订单中心<span></span></div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="order" class="page" ng-controller="orderListController">
        <div class="page-content">
            <div class="buttons-row air-tabs">
                <!-- Link to 1st tab, active -->
                <a href="#tab1" class="tab-link active"><span>{{'order.all' | translate}}</span></a>
                <!-- Link to 2nd tab -->
                <a href="#tab2" class="tab-link"><span>{{'order.ing' | translate}}</span></a>
                <!-- Link to 2nd tab -->
                <a href="#tab3" class="tab-link"><span>{{'order.done' | translate}}</span></a>
                <!-- Link to 2nd tab -->
                <a href="#tab4" class="tab-link"><span>{{'order.cancel' | translate}}</span></a>
            </div>
            <div class="tabs">
                <!-- Tab 1, active by default -->
                <div id="tab1" class="tab active">
                    <div class="content-block school-content order-card-container">
                        <div class="list-block cards-list">
                            <ul>
                                <li class="card order-card" ng-repeat="item in items[0] track by $index" ng-click="gotoOrderDetail(0,$index)">
                                    <div class="card-header">
                                        <span class="order-number">{{item.no}}</span>
                                        <span class="order-date">{{item.date}}</span>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            <div class="order-avatar">
                                                <img src="{{item['url']}}">
                                            </div>
                                            <div class="order-name">{{item.name}}</div>
                                            <div class="order-subname">{{item.subname}}<span class="order-price">{{item.price}}</span></div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="link"></a>
                                        <a href="#" class="button btn-status-cancel">取消订单</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Tab 2 -->
                <div id="tab2" class="tab">
                    <div class="content-block school-content order-card-container">
                        <div class="list-block cards-list">
                            <ul>
                                <li class="card order-card" ng-repeat="item in items[1]" ng-click="gotoOrderDetail(0,$index)">
                                    <div class="card-header">
                                        <span class="order-number">{{item.no}}</span>
                                        <span class="order-date">{{item.date}}</span>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            <div class="order-avatar">
                                                <img src="{{item['url']}}">
                                            </div>
                                            <div class="order-name">{{item.name}}</div>
                                            <div class="order-subname">{{item.subname}}<span class="order-price">{{item.price}}</span></div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="link"></a>
                                        <a href="#" class="button btn-status-valuation-done">已评价</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Tab 3 -->
                <div id="tab3" class="tab">
                    <div class="content-block school-content order-card-container">
                        <div class="list-block cards-list">
                            <ul>
                                <li class="card order-card" ng-repeat="item in items[2]" ng-click="gotoOrderDetail(0,$index)">
                                    <div class="card-header">
                                        <span class="order-number">{{item.no}}</span>
                                        <span class="order-date">{{item.date}}</span>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            <div class="order-avatar">
                                                <img src="{{item['url']}}">
                                            </div>
                                            <div class="order-name">{{item.name}}</div>
                                            <div class="order-subname">{{item.subname}}<span class="order-price">{{item.price}}</span></div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="link"></a>
                                        <a href="#" class="button btn-status-valuation" ng-click="gotoCommentAction()">评价</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Tab 4 -->
                <div id="tab4" class="tab">
                    <div class="content-block school-content order-card-container">
                        <div class="list-block cards-list">
                            <ul>
                                <li class="card order-card" ng-repeat="item in items[3]" ng-click="gotoOrderDetail(0,$index)">
                                    <div class="card-header">
                                        <span class="order-number">{{item.no}}</span>
                                        <span class="order-date">{{item.date}}</span>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            <div class="order-avatar">
                                                <img src="{{item['url']}}">
                                            </div>
                                            <div class="order-name">{{item.name}}</div>
                                            <div class="order-subname">{{item.subname}}<span class="order-price">{{item.price}}</span></div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="link"></a>
                                        <a href="#" class="button btn-status-reorder">再次下单</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
