<div ng-controller="orderController">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left sliding"><a href="" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
            <div class="center sliding color-black"><a ng-click="showSelectViewAction()">订单中心<span>V</span></a></div>
        </div>
    </div>
    <div class="pages navbar-through">
        <div data-page="order" class="page">
            <div class="page-content">
                <div class="buttons-row air-tabs">
                    <!-- Link to 1st tab, active -->
                    <a href="#tab1" class="tab-link active"><span>{{'order.all' | translate}}</span></a>
                    <!-- Link to 2nd tab -->
                    <a href="#tab2" class="tab-link"><span>{{'order.ing' | translate}}</span></a>
                    <!-- Link to 2nd tab -->
                    <a href="#tab3" class="tab-link"><span>{{'order.done' | translate}}</span></a>
                    <!-- Link to 2nd tab -->
                    <a href="#tab4" class="tab-link"><span>{{'order.cancel' | translate}}</span></a>
                </div>
                <div class="tabs">
                    <!-- Tab 1, active by default -->
                    <div id="tab1" class="tab active">
                        <div class="content-block school-content">
                            <div class="list-block cards-list">
                                <ul>
                                    <li class="card order-card">
                                        <div class="card-header">
                                            <span>订单编号: 993028364001</span>
                                            <span>订单时间: 2017年10月25日</span>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-content-inner">
                                                <div class="facebook-avatar">
                                                    <img src="http://lorempixel.com/1000/600/nature/3/">
                                                </div>
                                                <div class="facebook-name">John Doe</div>
                                                <div class="facebook-date">Monday at 2:15 PM</div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <a href="#" class="link">Like</a>
                                            <a href="#" class="link">Read more</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Tab 2 -->
                    <div id="tab2" class="tab">
                        <div class="content-block school-content">

                        </div>
                    </div>
                    <!-- Tab 3 -->
                    <div id="tab3" class="tab">
                        <div class="content-block school-content">

                        </div>
                    </div>
                    <!-- Tab 4 -->
                    <div id="tab4" class="tab">
                        <div class="content-block school-content">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
