<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding color-black order-center">订单详情<span></span></div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="orderdetail" class="page" ng-controller="orderdetailController">
        <div class="page-content">
            <div class="order-detail-list">
                <div class="order-detail-header">
                    <span class="order-number">订单编号 : AT0001</span>
                    <span class="order-trash"><i class="f7-icons">trash</i></span>
                </div>
                <div class="order-detail-line"></div>
                <div class="order-detail-content">
                    <div class="order-detail-content-title">
                        <div class="order-icon"><img src="../../../assets/images/hnlogo.jpg"></div>
                        <div class="order-flytype">首航直升机 B-7186</div>
                        <div class="order-date">2017年5月1日</div>
                        <div class="order-content-line"></div>
                    </div>
                    <div class="order-detail-content-inner">
                        <div class="order-from">
                            <strong>湛江机场</strong>
                            <span>徐闻县</span>
                        </div>
                        <div class="order-core">
                            <span>08:00-09:00</span>
                            <strong>------</strong>
                            <span><img src="../../../assets/images/airplane.svg">约12:36分钟</span>
                        </div>
                        <div class="order-to">
                            <strong>美兰机场</strong>
                            <span>徐闻县</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
