<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding color-black order-center">订单详情<span></span></div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="orderdetail" class="page" ng-controller="orderdetailController">
        <div class="page-content">
            <div class="order-detail-list">
                <!--订单-->
                <div class="order-detail-header">
                    <span class="order-number">订单编号 : AT0001</span>
                    <span class="order-trash"><i class="f7-icons">trash</i></span>
                </div>
                <div class="order-detail-line"></div>
                <div class="order-detail-content">
                    <div class="order-detail-content-title">
                        <span class="order-icon"><img class="" src="../../../assets/images/hnlogo.jpg"></span>
                        <span class="order-flytype">首航直升机 B-7186</span>
                        <span class="order-date">2017年5月1日</span>
                    </div>
                    <div class="order-content-line"></div>
                    <div class="order-detail-content-inner row">
                        <div class="order-from col-40">
                            <strong>湛江机场</strong>
                        </div>
                        <div class="order-core col-20">
                            <div class="dfim-center">
                                <div class="arrow-right"></div>
                            </div>
                        </div>
                        <div class="order-to col-40">
                            <strong>美兰机场</strong>
                        </div>
                        <div class="col-40 order-other-info text-right">
                            <img src="../../../assets/images/airplane.svg">
                            <span class="order-cost">约12:36分钟</span>
                        </div>
                        <div class="col-20 order-other-info">
                            <img src="../../../assets/images/airseat.svg">
                            <span class="order-cost">5</span>
                        </div>
                        <div class="col-40 order-other-info text-left">
                            <img src="../../../assets/images/airtime.svg">
                            <span class="order-cost">08:00-09:00</span>
                        </div>
                    </div>
                </div>
                <!--乘客信息-->
                <div class="order-detail-header">
                    <span class="order-number">乘客信息</span>
                    <span class="order-trash"><span>3&nbsp;&nbsp;</span><i class="f7-icons">persons</i></span>
                </div>
                <div class="order-detail-line"></div>
                <div class="order-detail-content-person">
                    <ul>
                        <li>
                            <span class="order-person-name col-25">名字</span>
                            <span class="order-person-id col-75">1234567890</span>
                        </li>
                        <li>
                            <span class="order-person-name col-25">名字</span>
                            <span class="order-person-id col-75">1234567890</span>
                        </li>
                    </ul>
                </div>
                <!--总价-->
                <div class="order-detail-header">
                    <span class="order-number">总价</span>
                    <span class="order-trash">
                        <span class="order-computer">拼座 ¥ 1,800 x 人数3＝</span>
                        <span class="order-total-price">¥ 5,400</span>
                    </span>
                </div>
                <!--声明-->
                <div class="order-detail-agreement">
                    <div class="list-block">
                        <label class="label-checkbox item-content">
                            <input type="checkbox" name="my-checkbox" value="Books">
                            <div class="item-media">
                                <i class="icon icon-form-checkbox"></i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">
                                    <span class="order-agree">我同意并阅读</span>
                                    <span class="order-announce">《Air Community免责声明》</span>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
                <!--提交-->
                <div class="order-detail-confirm">
                    <p>
                        <a href="#" class="button button-fill button-big color-red">确认</a>
                    </p>
                </div>



            </div>
        </div>
    </div>
</div>
