<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding color-black order-center">填写订单<span></span></div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="orderadd" class="page" ng-controller="orderaddController">
        <div class="page-content">
            <form role="form" name="form" class="form">
                <!--&lt;!&ndash;订单信息&ndash;&gt;-->
                <!--<div class="order-product-list">-->
                    <!--<div class="order-product">-->
                        <!--<div class="order-product-header">-->
                            <!--&lt;!&ndash;<span class="product-index">1</span>&ndash;&gt;-->
                            <!--<span class="product-date">2017-12-21 08:00-09:00</span>-->
                            <!--<span><img src="../../../assets/images/airplane.svg"></span>-->
                            <!--<span class="product-time-cost">约15分钟</span>-->
                        <!--</div>-->
                        <!--<div class="order-product-content row">-->
                            <!--<div class="order-from col-40">-->
                                <!--<strong>北京</strong>-->
                            <!--</div>-->
                            <!--<div class="order-core col-20">-->
                                <!--<div class="dfim-center">-->
                                    <!--<div class="arrow-right"></div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="order-to col-40">-->
                                <!--<strong>不秀</strong>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="order-product-footer row">-->
                            <!--<div class="col-50" ng-click="orderInfo.chartered = true">-->
                                <!--<span class="product-desc">整机</span>-->
                                <!--<span class="product-price">￥1,000,000</span>-->
                                <!--<span class="product-select">-->
                                    <!--<i class="f7-icons ng-scope color-gray" ng-class="{'color-blue' : !orderInfo.chartered}">{{ orderInfo.chartered ? 'circle' : 'check_round'}}</i>-->
                                <!--</span>-->
                            <!--</div>-->
                            <!--<div class="col-50" ng-click="orderInfo.chartered = false">-->
                                <!--<span class="product-desc">拼座</span>-->
                                <!--<span class="product-price">￥1,000</span>-->
                                <!--<span class="product-select">-->
                                    <!--<i class="f7-icons ng-scope color-gray" ng-class="{'color-blue' : !orderInfo.chartered}">{{ orderInfo.chartered ? 'circle' : 'check_round'}}</i>-->
                                <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="order-additional">-->
                        <!--<span>拼座至少3人成行</span>-->
                        <!--<span class="product-journey">-->
                                    <!--<span class="product-journey-select">-->
                                    <!--3 <i class="f7-icons ng-scope color-blue">check_round</i>-->
                                <!--</span>-->
                                <!--<span class="product-journey-select">-->
                                    <!--4 <i class="f7-icons ng-scope color-blue">check_round</i>-->
                                <!--</span>-->
                                <!--<span class="product-journey-select">-->
                                    <!--5 <i class="f7-icons ng-scope color-blue">check_round</i>-->
                                <!--</span>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="order-detail-list">
                    <div class="order-detail-content" style="margin: 0; border: 0;border-radius: 0;">
                        <div class="order-detail-content-title">
                            <span><img class="" src="../../../assets/images/hnlogo.jpg"></span>
                            <span class="order-flytype">{{orderInfo.flight}}</span>
                            <span class="order-date">{{orderInfo.date}}</span>
                        </div>
                        <div class="order-detail-content-inner row" style="margin-top: 0;padding-top: 0;">
                            <div class="order-from col-40">
                                <strong>{{orderInfo.departure}}</strong>
                            </div>
                            <div class="order-core col-20">
                                <div class="dfim-center">
                                    <div class="arrow-right"></div>
                                </div>
                            </div>
                            <div class="order-to col-40">
                                <strong>{{orderInfo.arrival}}</strong>
                            </div>
                            <div class="col-40 order-other-info text-right">
                                <img src="../../../assets/images/airplane.svg">
                                <span class="order-cost">{{orderInfo.time}}</span>
                            </div>
                            <div class="col-20 order-other-info">
                                <img src="../../../assets/images/airseat.svg">
                                <span class="order-cost">{{orderInfo.capacity}}</span>
                            </div>
                            <div class="col-40 order-other-info text-left">
                                <img src="../../../assets/images/airtime.svg">
                                <span class="order-cost">{{orderInfo.interval}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--乘机人-->
                <div class="order-add-person">
                    <div class="order-title">请选择乘机人</div>
                    <div class="order-person">
                        <span ng-repeat="p in passengers track by $index">
                            <a href="#" class="button ng-scope" ng-class="{'button-active': (p.isSelected)}" ng-click="selectPassengerAction($index)">{{p.name}}</a>
                        </span>
                        <a href="#" data-popup=".popup-passenger" class="button btn-add open-about open-popup"><i class="f7-icons">add_round</i> &nbsp;新增</a>
                    </div>
                    <div class="order-person-list" ng-show="passengers.length > 0">
                        <ul>
                            <li class="order-person-content"  ng-repeat="p in passengers track by $index" ng-show="p.isSelected">
                                <i class="f7-icons order-icon-delete" ng-click="selectPassengerAction($index)">delete_round</i>
                                <div class="order-person-inner" ng-click="showPassengerAction($index)">
                                    <div class="order-person-name">{{p.name}}</div>
                                    <div class="order-person-id"><span>身份证&nbsp;&nbsp;</span>{{p.identity}}</div>
                                </div>
                                <i class="f7-icons order-icon-right" ng-click="showPassengerAction($index)">right</i>
                            </li>
                        </ul>
                    </div>
                    <div class="order-person-mobile">
                        <span>联系手机&nbsp;&nbsp;&nbsp;</span>
                        <span>{{orderInfo.contactMobile}}</span>
                        <span class="order-edit">
                        <a ng-click="editContactPhoneAction()"><i class="f7-icons">compose</i>修改</a>
                    </span>
                    </div>
                </div>
                <!--价格-->
                <div class="order-person-price">
                    <div class="order-price-title">请选择价格</div>
                    <div class="order-price-type row">
                        <div class="col-50" ng-click="orderInfo.chartered = true">
                            <div class="order-price-icon">
                                <i class="f7-icons ng-scope color-gray" ng-class="{'color-red' : orderInfo.chartered}">{{ orderInfo.chartered ? 'check_round' : 'circle'}}</i>
                            </div>
                            <div class="order-persons">
                                <div>整机</div>
                                <!--<div>整机{{orderInfo.charterAll.capacity}}</div>-->
                            </div>
                            <div class="order-price">
                                ￥{{orderInfo.charterAll.price}}
                            </div>
                        </div>
                        <div class="col-50" ng-click="orderInfo.chartered = false">
                            <div class="order-price-icon">
                                <i class="f7-icons ng-scope color-gray" ng-class="{'color-red' : !orderInfo.chartered}">{{ orderInfo.chartered ? 'circle' : 'check_round'}}</i>
                            </div>
                            <div class="order-persons">
                                <div>拼座</div>
                                <!--<div>至少 {{orderInfo.charter.capacity}} 人预定</div>-->
                            </div>
                            <div class="order-price">
                                ￥{{orderInfo.charter.price}}
                            </div>
                        </div>
                    </div>
                    <!--<div class="order-price-preferential">-->
                    <!--<span class="order-title">特惠购&nbsp;&nbsp;&nbsp;</span>-->
                    <!--<span class="price-content">-->
                    <!--<i class="f7-icons icon">{{'check_round'}}</i><span>接送机</span><span class="price">￥15</span>-->
                    <!--<i class="f7-icons icon">{{'check_round'}}</i><span>接送机</span><span class="price">￥15</span>-->
                    <!--</span>-->
                    <!--</div>-->
                </div>
                <!--总价-->
                <div class="order-person-total-price">
                    <span class="order-desc">总价</span>
                    <span class="order-cost">￥1000.00</span>
                </div>
                <!--声明-->
                <div class="order-detail-agreement">
                    <i class="f7-icons ng-scope color-gray" ng-class="{'color-blue' : agreement}" ng-click="agreement = !agreement">{{ agreement ? 'check_round' : 'circle'}}</i>
                    <span class="order-agree" ng-click="agreement = !agreement">我同意</span>
                    <span class="order-announce" ng-click="gotoAnnounceAction(0);$event.stopPropagation();">《乘客安全须知》</span>
                    <span class="order-agree-and" ng-click="agreement = !agreement">与</span>
                    <span class="order-announce" ng-click="gotoAnnounceAction(1);$event.stopPropagation();">《免责声明》</span>
                </div>
                <!--提交-->
                <div class="order-detail-confirm">
                    <p>
                        <a href class="button button-fill button-big color-red" ng-disabled="form.$invalid || !agreement" ng-click="gotoOrderDetailAction()">下一步</a>
                    </p>
                </div>
            </form>
        </div>
        <!-- 添加乘客信息 -->
        <div class="popup popup-passenger">
            <div class="content-block">
                <p class="text-center">{{newPerson.isUpdate ? '乘客信息' : '添加乘客信息'}}</p>
                <div class="list-block">
                    <form role="form" name="formAdd" class="form-normal">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">姓名</div>
                                        <div class="item-input">
                                            <input type="text" ng-model="newPerson.name" placeholder="请输入姓名" required>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">身份证</div>
                                        <div class="item-input">
                                            <input type="text" ng-model="newPerson.identity" minlength="18" maxlength="18" placeholder="请输入身份证号码" required>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">电话号码</div>
                                        <div class="item-input">
                                            <input type="text" ng-model="newPerson.mobile" placeholder="请输入电话号码(可选)">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div>
                            <a href="#" class="button button-big active" ng-disabled='formAdd.$invalid' ng-click="addNewPassengerAction()" ng-hide="newPerson.isUpdate">添 加</a>
                            <a href="#" class="button color-gray" style="margin-top: 15px;border: 0;" ng-click="closeModalAction()">取 消</a>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
