<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding color-black order-center">填写订单<span></span></div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="orderadd" class="page" ng-controller="orderaddController">
        <div class="page-content">
            <!--订单信息-->
            <div class="order-detail-list">
                <!--订单-->
                <div class="order-detail-content" style="margin: 0; border: 0;border-radius: 0;">
                    <div class="order-detail-content-title">
                        <div class="order-icon"><img src="../../../assets/images/hnlogo.jpg"></div>
                        <div class="order-flytype">首航直升机 B-7186</div>
                        <div class="order-date">2017年5月1日</div>
                    </div>
                    <div class="order-detail-content-inner row">
                        <div class="order-from col-33">
                            <strong>湛江机场</strong>
                            <span>徐闻县</span>
                        </div>
                        <div class="order-core col-33">
                            <span class="order-time-interval">08:00-09:00</span>
                            <strong>___________</strong>
                            <div>
                                <img src="../../../assets/images/airplane.svg">
                                <span class="order-cost">约12:36分钟</span>
                            </div>
                        </div>
                        <div class="order-to col-33">
                            <strong>美兰机场</strong>
                            <span>徐闻县</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--乘机人-->
            <div class="order-add-person">
                <div class="order-title">请选择乘机人</div>
            </div>
        </div>
    </div>
</div>
