<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a data-panel="left" class="link back"> &nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">订单详情</div>
    </div>
</div>

<div class="pages">
    <div data-page="ordercoursedetail" class="page" ng-controller="OrderCourseDetailController">
        <div class="page-content">
            <div>{{'airjet.order-numver' | translate}}{{order.orderNo}}</div>
            <div>{{order.course.airType}}</div>
            <div>{{order.course.license}}</div>
            <div>{{order.course.price}}</div>
            <div>{{order.course.school.name}}</div>
            <div>{{order.course.school.address}}</div>
            <div>{{order.course.school.contact}}</div>
        </div>

    </div>
</div>