<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding color-black order-center">订单详情<span></span></div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="orderdetail" class="page" ng-controller="orderdetailController">
        <div class="page-content">
            <div class="order-detail-list">
                <!--订单-->
                <div class="order-detail-header" ng-show="just4Show" style="margin-top: 10px;">
                    <span class="order-number">订单编号 : {{orderInfo.orderNo}}</span>
                    <!--<span class="order-trash"><i class="f7-icons">trash</i></span>-->
                </div>
                <div class="order-detail-line" ng-show="just4Show"></div>
                <div class="order-detail-content ng-scope" ng-style='just4Show ? {"margin-top":"0"} : {"margin-top":"10px"}'>
                    <div class="order-detail-content-title">
                        <span><img class="" src="../../../assets/images/hnlogo.jpg"></span>
                        <span class="order-flytype">{{orderInfo.flight}}</span>
                        <span class="order-date">{{orderInfo.date}}</span>
                    </div>
                    <div class="order-content-line"></div>
                    <div class="order-detail-content-inner row">
                        <!--<div class="order-from col-40" ng-hide="istour">-->
                            <!--<strong>{{orderInfo.departure}}</strong>-->
                        <!--</div>-->
                        <!--<div class="order-core col-20" ng-hide="istour">-->
                            <!--<div class="dfim-center">-->
                                <!--<div class="arrow-right"></div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="order-to col-40" ng-hide="istour">-->
                            <!--<strong>{{orderInfo.arrival}}</strong>-->
                        <!--</div>-->
                        <div class="order-from" ng-hide="istour">
                            <strong>{{orderInfo.departure}}</strong>
                        </div>
                        <div class="order-core" ng-hide="istour">
                            <div class="dfim-center">
                                <div class="arrow-right"></div>
                            </div>
                        </div>
                        <div class="order-to" ng-hide="istour">
                            <strong>{{orderInfo.arrival}}</strong>
                        </div>
                        <div class="order-description col-100" ng-show="istour">
                            <strong>{{orderInfo.departure}}</strong>
                        </div>
                        <div class="order-information col-100 row">
                            <div class="col-40 order-other-info text-right">
                                <img src="../../../assets/images/airplane.svg">
                                <span class="order-cost">{{orderInfo.time}}</span>
                            </div>
                            <div class="col-20 order-other-info">
                                <img src="../../../assets/images/airseat.svg" ng-hide="istour">
                                <img src="../../../assets/images/airsite.svg" style="width: 15px;height: 15px;" ng-show="istour">
                                <span class="order-cost">{{orderInfo.capacity}}</span>
                            </div>
                            <div class="col-40 order-other-info text-left">
                                <img src="../../../assets/images/airtime.svg">
                                <span class="order-cost">{{orderInfo.interval}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--乘客信息-->
                <div class="triangle-container" ng-hide="passengers.length == 0">
                    <span class="triangle"></span>
                </div>
                <div class="order-detail-header" ng-hide="passengers.length == 0">
                    <span class="order-number">乘客信息</span>
                    <!--<span class="order-trash"><span>{{passengers.length}}&nbsp;&nbsp;</span><i class="f7-icons">persons</i></span>-->
                </div>
                <div class="order-detail-line" ng-hide="passengers.length == 0"></div>
                <div class="order-detail-content-person" ng-hide="passengers.length == 0">
                    <ul>
                        <li ng-repeat="p in passengers">
                            <span class="order-person-name col-25">{{p.passenger.name}}</span>
                            <span class="order-person-id col-75">{{p.passenger.identity}}</span>
                        </li>
                    </ul>
                </div>
                <!--总价-->
                <div class="triangle-container">
                    <span class="triangle"></span>
                </div>

                <div class="order-detail-header">
                    <span class="order-number">总价</span>
                    <span class="order-trash">
                        <span class="order-total-price">¥ {{orderInfo.price.toFixed(2)}}</span>
                    </span>
                </div>
                <!--提交-->
                <!--<div class="order-detail-confirm" ng-hide="just4Show">-->
                    <!--<p>-->
                        <!--<a href="#" class="button button-fill button-big color-red" ng-click="confirmAction()">提 交</a>-->
                    <!--</p>-->
                <!--</div>-->
                <div class="order-detail-confirm">
                    <p>
                        <a href="{{telephone}}" class="item-link item-content external button button-fill button-big color-blue" ng-click="confirmAction()">联系客服</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
