<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">评论</div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="comment" class="page" ng-controller="CommentController">
        <div class="page-content">


            <!--详情-->
            <div class="content-block school-content order-card-container">
                <div class="list-block cards-list">
                    <ul>
                        <li class="card order-card" ng-repeat="item in items[0] track by $index">
                            <div class="card-header">
                                <span class="order-number">{{item.no}}</span>
                                <span class="order-date">{{item.date}}</span>
                            </div>
                            <div class="card-content">
                                <div class="card-content-inner">
                                    <div class="order-avatar">
                                        <img src="{{item['url']}}">
                                    </div>
                                    <div class="order-name">{{item.name}}</div>
                                    <div class="order-subname">{{item.subname}}<span class="order-price">{{item.price}}</span></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--评分-->
            <div class="commentadd-star">

            </div>
            <!--评价-->
            <div class="commentadd-comment">
                <textarea placeholder="请写下你的评价" maxlength="1000"></textarea>
            </div>
            <!--提交-->

        </div>
    </div>
</div>