<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">评论</div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="comment" class="page" ng-controller="CommentController">
        <div class="page-content">


            <!--详情-->
            <div class="content-block school-content order-card-container">
                <div class="list-block cards-list">
                    <ul>
                        <li class="card order-card">
                            <div class="card-header">
                                <span class="order-number">{{orderInfo.orderNo}}</span>
                                <span class="order-date">{{orderInfo.date | date:'yyyy-MM-dd HH:mm'}}</span>
                            </div>
                            <div class="card-content">
                                <div class="card-content-inner">
                                    <div class="order-title">{{orderInfo.title}}</div>
                                    <div class="order-desc">{{orderInfo.subtitle}}<span class="order-price">{{orderInfo.price.toFixed(2)}}</span></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--评分-->
            <div class="commentadd-star">
                <div class="comment-title">评分</div>
                <div class="comment-stars">
                    <i class="f7-icons icon" ng-click="markStarAction(1)">{{starNum > 0 ? 'star_fill' : 'star'}}</i>
                    <i class="f7-icons icon" ng-click="markStarAction(2)">{{starNum > 1 ? 'star_fill' : 'star'}}</i>
                    <i class="f7-icons icon" ng-click="markStarAction(3)">{{starNum > 2 ? 'star_fill' : 'star'}}</i>
                    <i class="f7-icons icon" ng-click="markStarAction(4)">{{starNum > 3 ? 'star_fill' : 'star'}}</i>
                    <i class="f7-icons icon" ng-click="markStarAction(5)">{{starNum > 4 ? 'star_fill' : 'star'}}</i>
                </div>
            </div>

            <form role="form" name="form" class="">
                <!--评价-->
                <div class="commentadd-comment">
                    <textarea placeholder="请写下你的评价" maxlength="1000" ng-model="content" required></textarea>
                </div>
                <!--提交-->
                <div class="commentadd-submit">
                    <a href="#" class="button button-big active" ng-disabled='form.$invalid || starNum == 0' ng-click="submitComment()">提 交</a>
                </div>
            </form>

        </div>
    </div>
</div>