<div data-page="register-screen" class="page no-navbar no-toolbar no-swipeback no-border" ng-controller="registerController">
    <div class="page-content login-screen-contentxx no-border bg-white">
        <div class="air-login-top air-register-top">
            <div><a class="register-back" ng-click="backAction()"><img src="../../../assets/images/back.png"></a></div>
            <div class="air-login-container">
                <img src="../../../assets/images/login_logo_icon.svg">
                <img src="../../../assets/images/logo_text.svg">
            </div>
        </div>
        <form>
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner login-inner {{userActive}}">
                            <div class="item-title login-icon login-user"></div>
                            <div class="item-input">
                                <input class="login-placeholder" type="text" name="username" placeholder="{{'login.username-placeholder' | translate}}" ng-click="userActive='active'" ng-blur="userActive=''"/>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner login-inner {{authActive}}">
                            <div class="item-title login-icon login-authcode"></div>
                            <div class="item-input">
                                <input class="login-placeholder " type="text" name="auth" placeholder="{{'login.authcode-placeholder' | translate}}" ng-click="authActive='active'" ng-blur="authActive=''"/>
                            </div>
                        </div>
                        <div class="item-media"><button class="login-get-authcode-btn">获取验证码</button></div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner login-inner {{passwordActive}}">
                            <div class="item-title login-icon login-password"></div>
                            <div class="item-input">
                                <input class="login-placeholder" type="password" name="password" placeholder="{{'login.password-placeholder' | translate}}" ng-click="passwordActive='active'" ng-blur="passwordActive=''"/>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner login-inner {{confirmActive}}">
                            <div class="item-title login-icon login-confirm-password"></div>
                            <div class="item-input">
                                <input class="login-placeholder" type="password" name="confirm" placeholder="{{'login.comfirm-placeholder' | translate}}" ng-click="confirmActive='active'" ng-blur="confirmActive=''"/>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="list-block">
                <ul>
                    <li>
                        <div class="row">
                            <span class="col-5"></span>
                            <button class="col-90 login-btn register-btn" ng-click="registerAction()">{{'login.register' | translate}}</button>
                            <span class="col-5"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>