<div data-page="reset-password-screen" class="page no-navbar no-toolbar no-swipeback no-border" ng-controller="resetController">
    <div class="page-content login-screen-contentxx no-border">
        <div class="air-login-top">
            <div><a class="register-back"><img src="../../../assets/images/back.png"></a></div>
            <div class="air-login-container">
                <img src="../../../assets/images/login_logo_icon.svg">
                <img src="../../../assets/images/logo_text.svg">
            </div>
        </div>
        <form>
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner login-inner {{userActive}}">
                            <div class="item-title login-icon login-user"></div>
                            <div class="item-input">
                                <input class="login-placeholder" type="text" name="username" placeholder="{{'login.username-placeholder' | translate}}" ng-click="userActive='active'" ng-blur="userActive=''"/>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner login-inner {{passwordActive}}">
                            <div class="item-title login-icon login-password"></div>
                            <div class="item-input">
                                <input class="login-placeholder" type="password" name="password" placeholder="{{'login.password-placeholder' | translate}}" ng-click="passwordActive='active'" ng-blur="passwordActive=''"/>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="list-block">
                <ul>
                    <li>
                        <div class="row">
                            <span class="col-5"></span>
                            <button class="col-90 login-btn register-btn">{{'login.register' | translate}}</button>
                            <span class="col-5"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>