
<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">修改密码</div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="password" class="page" ng-controller="passwordController">
        <div class="page-content">
            <!--<div class="content-block-title">个人信息</div>-->
            <div class="list-block">

            </div>
        </div>
    </div>
</div>