
<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">修改密码</div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="password" class="page" ng-controller="passwordController">
        <div class="page-content">
            <div class="list-block change-password-content">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">原始密码</div>
                                <div class="item-input">
                                    <input type="password" placeholder="原始密码">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">新密码</div>
                                <div class="item-input">
                                    <input type="password" placeholder="新密码">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <div>
                    <a href="#" class="button button-big active">保存</a>
                </div>

            </div>
        </div>
    </div>
</div>