
<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">设置</div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="setting" class="page" ng-controller="settingController">
        <div class="page-content">
            <div class="content-block-title">个人信息</div>
            <div class="list-block setting-list">
                <ul>
                    <li>
                        <a href ng-click="gotoDetail()" class="item-link">
                            <div class="item-content">
                                <!--<div class="item-media"><i class="f7-icons">person</i></div>-->
                                <div class="item-inner">
                                    <div class="item-title">修改密码</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="infinite-scroll infinite-scroll-top comment-container" ng-init="showMore = false">
                <div class="comment-header">
                    <i class="f7-icons icon">chats</i>
                    <span class="comment-text">评论</span>
                    <span class="comment-score">总评分
                        <span class="comment-number">4.7</span>
                    </span>
                </div>
                <div class="comment-content">
                    <div class="inner-header">
                        <div class="comment-avatar"><img src="" width="30" height="30"></div>
                        <div class="comment-name">小明 <span class="pull-right comment-date">2017-4-18</span></div>
                        <div class="comment-star">
                            <i class="f7-icons icon">star_fill</i>
                            <i class="f7-icons icon">star_fill</i>
                            <i class="f7-icons icon">star_half</i>
                            <i class="f7-icons icon">star</i>
                            <i class="f7-icons icon">star</i>
                        </div>
                    </div>
                </div>
                <div class="comment-comment">
                    <div class="comment-inner">
                        Cards, along with List View, is a one more great way to contain and orginize your information. Cards contains unique r
                    </div>
                </div>
                <div class="comment-more" ng-show="!showMore">
                    <a href="#" class="item-link button" ng-click="showMore = !showMore">查看更多</a>
                </div>

                <div class="comment-list" ng-show="showMore">
                    <div class="list-block">
                        <ul>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">Item 1</div>
                                </div>
                            </li>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">Item 1</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--加载提示符-->
                    <div class="infinite-scroll-preloader" ng-show="loading">
                        <div class="preloader"></div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>