
<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">设置</div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="setting" class="page">
        <div class="page-content">
            <!--<div class="content-block-title">个人信息</div>-->
            <div class="list-block">
                <ul class="personal-information">
                    <li>
                        <a href="app/compontents/setting/password.html" class="item-link">
                            <div class="item-content">
                                <!--<div class="item-media"><i class="f7-icons">person</i></div>-->
                                <div class="item-inner">
                                    <div class="item-title">修改密码</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>