<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding color-black order-center">Air Taxi<span></span></div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="taxi" class="page" ng-controller="taxiController">
        <div class="page-content">
          <div class="content-block">
            <div class="map">
                <div class="airtrans-map-view" id="airtaxi-map-view"></div>
            </div>
          </div>
        </div>
    </div>
</div>
