<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding color-black order-center">Air Taxi<span></span></div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="taxi" class="page" ng-controller="taxiController">
        <div class="page-content">
          <div class="content-block fullscreen">
            <div class="map">
                <div class="airtaxi-map-view" id="airtaxi-map-view"></div>
            </div>
            <div class="card filter-toolbar">
              <div class="list-block">
                <ul>
                  <li class="item-content">
                    <div class="item-title label">请选择城市</div>
                    <div class="item-input">
                      <input type="text" placeholder="北京" id="autocomplete-dropdown-placeholder">
                    </div>
                    <div class="city-navi-arrow">
                      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
