<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding color-black order-center fa" id="citytour-title"></div>
        <div class="right">
          <a href="#" data-panel="right" class="link icon-only open-panel"> <i class="icon icon-user"></i></a>
        </div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="citytour" class="page" ng-controller="citytourController">
        <div class="page-content">
          <div class="city-tour-content">
            <div class="tour-date-select fa">
              <div class="label">选择出行日期</div>
              <div class="item-content">
               <div class="item-inner">
                 <div class="item-input">
                   <input type="text" placeholder="yyyy年mm月dd日" readonly id="tourcity-datepicker">
                 </div>
               </div>
             </div>
            </div>

            <div class="tour-projects">
                <div class="fa project-card clearfix" ng-repeat="item in cityList track by $index"  ng-click="jumpDetail(item)">
                    <div class="left-media pull-left">
                      <img ng-src="{{item.pic}}" alt="city">
                    </div>
                    <div class="project-description pull-left">
                      <div class="project-title" ng-bind="item.title"></div>
                      <div class="abstract-info" ng-bind="item.info"></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
