<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding color-black order-center">{{ city }}观光<span></span></div>
        <div class="right">
          <a href="#" data-panel="right" class="link icon-only open-panel"> <i class="icon icon-user"></i></a>
        </div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="citytour" class="page" ng-controller="citytourController">
        <div class="page-content">
          <div class="content-block">

            <div class="tour-date-select">
              <div class="label">
                 请选择出行日期
              </div>
              <div class="item-content">
               <div class="item-inner">
                 <div class="item-input">
                   <input type="text" placeholder="Select date" readonly id="tourcity-datepicker">
                 </div>
               </div>
             </div>
            </div>

            <div class="tour-projects">
              <ul>
                <li>
                  <div class="row project-card">
                    <div class="left-media">

                    </div>
                    <div class="project-description">
                      <div class="project-title">

                      </div>
                      <div class="abstract-info">

                      </div>
                    </div>
                    <div class="for-details">
                      <div class="arrow-right-button">

                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="footer-button">
              <a href="#" class="next-button">下一步</a>
            </div>
          </div>
        </div>
    </div>
</div>
