<div class="navbar">
    <div class="navbar-inner">
        <!--<div class="left sliding"><a href="" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>-->
      <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding color-black order-center">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span class="topbar-with-icon">北京</span>观光
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="projectdetails" class="page projectDetails" ng-controller="airtaxiDetailsController as details">
        <div class="page-content">
          <div class="content-block">
            <div class="map">
                <div class="content-placeholder"></div>
                <div class="airtaxi-details-map-view" id="airtaxi-details-map-view"></div>
            </div>
            <div class="card project-card-top">
              <div class="left-media">
                <img ng-src="{{ details.site.image }}" src="assets/images/airtaxi/smallview.png" alt="">
              </div>
              <div class="price-info">
                <div class="project-name">
                  {{ details.site.name }}
                </div>
                <div class="project-price">
                  {{ 1000 | RMB }}起
                </div>
              </div>
            </div>
            <div class="project-details">
              <div class="project-headbar row">
                <div class="header-item airplane col-33">
                  <img src="assets/images/airplane-black.svg" alt="">
                  <span class="hero-value">{{ details.site.tourDistance }}</span>公里
                </div>
                <div class="header-item sites col-33">
                  <img src="assets/images/airtaxi/sites.svg" alt="">
                  <span class="hero-value">{{ details.site.tourPoint.split(";").length-1 }}</span>个景点
                </div>
                <div class="header-item time col-33">
                  <i class="f7-icons">time</i>
                  <span class="hero-value">{{ details.site.tourTime }}</span>分钟
                </div>
              </div>
              <div class="list-block">
                <ul>
                  <li>
                    <div class="info-block tour-info">
                      <div class="info-title">
                        <span class="icon"><img src="assets/images/airtaxi/intro.svg" alt=""></span>
                        <span class="title">观光介绍</span>
                      </div>
                      <div class="info-content">
                        <p class="details-content">
                          {{ details.site.description }}
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="info-block routine-info">
                      <div class="info-title">
                        <span class="icon"><img src="assets/images/airtaxi/routine.svg" alt=""></span>
                        <span class="title">飞行路线</span>
                      </div>
                      <div class="info-content">
                        <p class="details-content">
                          {{ details.site.tourRoute }}
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="info-block sites-info">
                      <div class="info-title">
                        <span class="icon"><img src="assets/images/airtaxi/sites-white.svg" alt=""></span>
                        <span class="title">景点展示</span>
                      </div>
                      <div class="info-content">
                        <p class="details-content" markdown-to-html="details.site.tourShow"></p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="info-block checkin-info">
                      <div class="info-title">
                        <span class="icon"><img src="assets/images/airtaxi/checkin.svg" alt=""></span>
                        <span class="title">乘机地点</span>
                      </div>
                      <div class="info-content">
                        <p class="details-content">
                          {{ details.site.boardingLoc }}
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="info-block trans-info">
                      <div class="info-title">
                        <span class="icon"><img src="assets/images/airtaxi/localtrans.svg" alt=""></span>
                        <span class="title">附近交通</span>
                      </div>
                      <div class="info-content">
                        <pre class="details-content">{{ details.site.traffic }}</pre>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!--评论-->
          <div class="infinite-scroll infinite-scroll-top comment-container" style="margin-bottom: 60px;">
            <div class="comment-title">
              <i class="f7-icons icon">chats</i>
              <span class="comment-text">评论</span>
              <span class="comment-score">总评分
                        <span class="comment-number">{{score}}</span>
                    </span>
            </div>
            <div class="comment-none" ng-show="comments.length == 0">暂无评论</div>
            <div class="comment-list" ng-show="comments.length > 0">
              <div class="list-block" ng-repeat="comment in comments">
                <div class="comment-core">
                  <div class="comment-content">
                    <div class="inner-header">
                      <div class="comment-avatar"><img src="{{comment.owner.avatar}}" width="30" height="30"></div>
                      <div class="comment-name">{{comment.owner.name}} <span class="pull-right comment-date">{{comment.date | date:'yyyy-MM-dd'}}</span></div>
                      <div class="comment-star">
                        <i class="f7-icons icon">{{comment.rate > 0 ? 'star_fill' : 'star'}}</i>
                        <i class="f7-icons icon">{{comment.rate > 1 ? 'star_fill' : 'star'}}</i>
                        <i class="f7-icons icon">{{comment.rate > 2 ? 'star_fill' : 'star'}}</i>
                        <i class="f7-icons icon">{{comment.rate > 3 ? 'star_fill' : 'star'}}</i>
                        <i class="f7-icons icon">{{comment.rate > 4 ? 'star_fill' : 'star'}}</i>
                      </div>
                    </div>
                  </div>
                  <div class="comment-comment">
                    <div class="comment-inner">
                      {{comment.content}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="comment-more" ng-show="!showMore">
                <a href="#" class="item-link button" ng-click="showMoreCommentAction()">查看更多</a>
              </div>
              <!--加载提示符-->
              <div class="infinite-scroll-preloader" ng-show="loading">
                <div class="preloader"></div>
              </div>
            </div>
          </div>



        </div>
    </div>
</div>
