<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="#" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">新增旅客</div>
    </div>
</div>

<div class="pages navbar-through">
    <div data-page="add-guest" class="page" ng-controller="addGuestController">
        <div class="page-content">
            <div class="add-guest-box">
                <div class="add-title">{{'profile.addGuest' | translate}}</div>
                <div class="add-info">
                    <div>
                        <label for="name">姓名：</label>
                        <input type="text" ng-model="quest.name" id="name">
                    </div>
                    <div>
                        <label for="card">身份证：</label>
                        <input type="text" ng-model="quest.identity" id="card">
                    </div>
                </div>
            </div>
            <div class="add-guest-btn">
                <!-- <div class="add-guset" ng-click="addGuest()" role="button" tabindex="0">
                    <em class="fa fa-plus-circle"></em>
                    <span class="ng-binding">继续增加</span>
                </div> -->
                <a href="#" class="guset-submit alert-check" type="button">确认</a>
            </div>
        </div>
    </div>
</div>