<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding">新增旅客</div>
        <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
    </div>
</div>

<div class="pages navbar-through">
    <div data-page="profile-info" class="page" ng-controller="addGuestController">
        <div class="page-content">
            <div class="add-guest-box" ng-repeat="quest in questList track by $index">
                <div class="add-title">旅客{{$index + 1 | chinanum}}</div>
                <div class="add-info">
                    <div>
                        <label for="name">姓名：</label>
                        <input type="text" ng-model="quest.userName" id="name">
                    </div>
                    <div>
                        <label for="card">身份证：</label>
                        <input type="text" ng-model="quest.card" id="card">
                    </div>
                </div>
            </div>
            <div class="add-guest-btn">
                <div class="add-guset" ng-click="addGuest()" role="button" tabindex="0">
                    <em class="fa fa-plus-circle"></em>
                    <span class="ng-binding">继续增加</span>
                </div>
                <a href="#" class="guset-submit alert-check" type="button">提交</a>
            </div>
        </div>
    </div>
</div>