<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="#" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">旅客信息</div>
    </div>
</div>

<div class="pages navbar-through">
    <div data-page="guest-info" class="page" ng-controller="gusetInfoController">
        <div class="page-content profile">
            <div class="list-block" ng-show="noGuest">
                <ul>
                    <li ng-repeat="guest in guestList track by $index"><a href="#" class="item-link">
                        <div class="item-content profile-header">
                            <div class="item-inner">
                                <div class="item-title label" ng-bind="guest.userName"></div>
                                <div class="item-input" ng-bind="guest.card"></div>
                            </div>
                        </div></a></li>
                </ul>
            </div>
            <div class="list-block" ng-hide="noGuest">
                <div class="no-guest">
                    {{'profile.addGuestText' | translate}}<br>
                    {{'profile.addGuestTextTwo' | translate}}
                </div>
                <a href="app/components/profile/add-guest.html" class="add-guest-link"><em class="fa fa-plus-circle"></em>新增旅客</a>
            </div>
        </div>
    </div>
</div>