<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
    <div class="center sliding">个人中心</div>
    <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="profile" class="page" ng-controller="profileController">
    <div class="page-content profile">
      <div class="list-block">
        <ul>
          <li>
            <a href="#" class="item-link">
              <div class="item-content profile-header">
                <div class="item-inner">
                  <div class="item-title label">{{'profile.headImg' | translate}}</div>
                  <div class="item-input">
                    <img src="./../../../assets/images/nav-icon.png">
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="app/components/profile/modify.html?nickName={{userInfo.nickName}}" class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title label">{{'profile.nickname' | translate}}</div>
                  <div class="item-input" ng-bind="userInfo.nickName"></div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="app/components/profile/modify.html?realName={{userInfo.realName}}" class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title label">{{'profile.username' | translate}}</div>
                  <div class="item-input" ng-if="userInfo.realName" ng-bind="userInfo.realName"></div>
                  <div class="item-input not-set" ng-if="!userInfo.realName" ng-bind="notSet"></div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" data-open-in="picker" class="item-link smart-select">
              <select name="sex" ng-model="userInfo.gender">
                <option value="{{key}}" ng-repeat="(key, value) in gender" ng-bind="value"></option>
              </select>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title label">{{'profile.sex' | translate}}</div>
                  <div class="item-after" ng-if="userInfo.gender" ng-bind="gender[userInfo.gender]"></div>
                  <div class="item-input not-set" ng-if="!userInfo.gender" ng-bind="notSet"></div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title label">{{'profile.tel' | translate}}</div>
                  <div class="item-input" ng-bind="userInfo.mobile"></div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="app/components/profile/modify.html?email={{userInfo.email}}" class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title label">{{'profile.email' | translate}}</div>
                  <div class="item-input" ng-if="userInfo.email" ng-bind="userInfo.email"></div>
                  <div class="item-input not-set" ng-if="!userInfo.email" ng-bind="notSet"></div>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <ul class="add-profile">
          <li>
            <a href="app/components/profile/guest-info.html" class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title label">{{'profile.guestInfo' | translate}}</div>
                  <div class="item-input">
                    <div class="add-icon" ng-click="gotoAddGuest()">
                      <i class="fa fa-plus-circle"></i>
                      <span>{{'profile.addGuest' | translate}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
