.travel-model-info{
    font-family:PingFangSC-Regular;
    background-color: @base-green-light;
    color: @base-sky;
    height: .62rem;
    width: 100%;
    font-size: .28rem;
    border-bottom: .02rem solid @base-sky-dark;
    em{
        font-style: normal;
        display: inline-block;
        width: .32rem;
        height: .32rem;
        border: .02rem solid @base-sky;
        text-align: center;
        line-height: .32rem;
        border-radius: 50%;
        margin-right: .14rem;
    }
}

.travel-model-card{
    padding: .34rem .28rem;
    overflow: hidden;
    font-family:PingFangSC-Regular;
    em{
        font-style: normal;
    }
    .travel-model-img{
        img{
            border-radius: .16rem .16rem 0 0;
            height: 3rem;
        }
    }
    .travel-model-content{
        padding: .32rem .16rem .36rem .2rem;
        border-radius: 0 0 .16rem .16rem;
        background-color: @base-white;
        span{
            font-size: .24rem;
            color: @base-gray-light;
            em{
                font-size: .28rem;
                color: @base-black-light;
            }
        }
        .travel-model-check {
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: .02rem dotted @base-grey-dark;
            padding-bottom: .24rem;
            // margin-bottom: .32rem;

            span{
                font-size: .32rem;
                em{
                    font-size: .36rem;
                }
            }
        }

        .travel-model-prompt{
            margin-top: .18rem;
            height: .28rem;
            img{
                width: .36rem;
                height: .36rem;
            }
            .pull-left, .pull-right{
                color: @base-sky;
                font-size: .28rem;
                em{
                    color: @base-gray-light;
                }
                &.pull-left:first-child{
                    margin-right: .4rem;
                }
            }
        }

        p{
            margin: 0 0 .16rem 0;
            .tag{
                float: left;
                margin-right: .28rem;
            }
            &.plane-tag{
                height: .52rem;
                margin-top: .24rem;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.travel-model-submit, .travel-plane-submit{
    font-family:PingFangSC-Regular;
    margin: .36rem .34rem .4rem .36rem;
    height: .88rem;
    background-color: @base-red-light;
    border-radius: .16rem;
    font-size: .36rem;
    color: @base-white;
    &.travel-plane-submit{
        margin-top: 1.12rem;
    }
}

.travel-plane-card{
    width: 100%;
    height: 1.44rem;
    padding: .24rem .28rem .22rem .32rem;
    background-color: @base-white;
    display: flex;
    justify-content: space-between;
    border-bottom: .02rem solid @base-grey-dark;
    .tpc-left{
        display: flex;
        align-items: center;
        .checkbox-square{
            margin-right: .28rem;
        }
        img{
            width: .96rem;
            height: .96rem;
            border: .02rem solid @base-grey-dark;
            margin-right: .22rem;
        }
        .plane-num{
            display: flex;
            flex-direction: column;
        }
        .plane-num{
            font-size: .36rem;
            color: @base-black-light;
            strong{
                font-weight: normal;
            }
            span{
                font-size: .28rem;
                color: @base-gray-light; 
            }
        }
    }
    .plane-money{
        display: flex;
        flex-direction: column;
    }
    .plane-money{
        text-align: right;
        font-size: .36rem;
        color: @base-red-light;
        em{
            font-style: normal;
        }
        a{
            font-size: .24rem;
            color: @base-sky; 
        }
    }
}

.plane-detail{
    min-height: 100vh;
    background-color: @base-white;
    .plane-detail-content{
        padding: 0;
        
        .travel-model-content{
            padding-top: 0;
            .plane-title{
                height: .8rem;
                color: @base-red-light;
                font-size: .36rem;
                line-height: .8rem;
                text-align: left;
                padding: 0 .32rem 0 .5rem;
                border-top-left-radius: .16rem;
                border-top-right-radius: .16rem;
                border-bottom: .02rem dotted @base-grey-light;
                position: relative;
                margin-bottom: .28rem;
                &:before{
                    position: absolute;
                    content: "";
                    background-color: @base-red-light;
                    width: .06rem;
                    height: .32rem;
                    border-radius: .03rem;
                    left: .28rem;
                    top: .24rem;
                }
            }
        }
        &.travel-model-card .travel-model-img img{
            border-radius: 0;
            height: 4.18rem;
        }
    }
}

.travel-info-content{
    margin: 0;

    .item-content{
        padding-left: 0;
        .item-inner{
            padding-left: .3rem;
            height: 1.2rem;

            .item-title{
                width: .84rem;
                font-size: .32rem;
            }
            &:first-child{
                border-top: none;
            }
        }
    }
}

.travel-info-write{
    min-height: 100vh;
    .travel-model-submit{
        position: absolute;
        width: calc(~"100% - 0.7rem");
        bottom: 0;
    }
}


.travel-model-info+.air-order-detail{
    .air-order-item{
        &.radius-top{
            border-radius: .16rem .16rem 0 0!important;
        }
        &.radius-bottom{
            border-radius: 0 0 .16rem .16rem!important;
            border-bottom: 1px dashed @base-grey-light!important;
        }
        &.radius-top-bottom{
            border-radius: .16rem!important;
        }
        &.aoi-guest-info, &.aoi-model-info{
            height: auto;
            padding: .22rem .42rem .24rem;
            div{
                height: .36rem;
                margin: 0;
                font-size: .28rem;
                color: @base-gray-dark;
                line-height: .36rem;
                margin-bottom: .18rem;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        &.aoi-guest-info{
            border: none!important;
        }
        &:nth-child(4){
            padding: 0 0 0 0.42rem!important;
            height: 0.88rem!important;
            line-height: 0.88rem!important;
        }
        &.aoi-guest{
            font-size: .32rem;
            color: @base-black-light;
        }
        &.aoi-city-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 1.84rem;
            padding: 0 .66rem;
            .aoi-city{
                text-align: left;
                font-size: .24rem;
                color: @base-gray-light;
                display: flex;
                flex-direction: column;
                line-height: .34rem;
        
                strong{
                    font-weight: normal;
                    line-height: .66rem;
                    color: @base-black-light;
                    font-size: .48rem;
                }
                
            }
        }
    }

    .travel-detail-submit{
        background-color: @base-red-light!important;
        border-radius: .16rem;
    }
    
}
