.page[data-page=airjet-detail] {
  background-color: #f4f4f4;
}
.page-content-title {
  height: 0.88rem;
  line-height: 0.88rem;
  background-color: #7293d6;
  font-weight: 300;
  padding-left: 0.4rem;

  div {
    display: inline-block;
    font-size: 0.36rem;
    color: #fff;
    height: 100%;

    &:last-child {
      float: right;
      font-size: 0.28rem;
      background-color: #97c5f8;
      padding: 0 0.32rem;

      i {
        margin-right: 0.1rem;
      }
    }
  }
}

.card-info {
  height: 0.94rem;
  line-height: 0.94rem;
  padding: 0 0.4rem;
  font-size: 0.36rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  background-color: #fff;

  div {
    display: inline-block;
    color: #7293d6;

    &:last-child {
      float: right;
    }
  }
}

.card-detail {
  padding: 0.32rem;
  font-size: 0.24rem;
  font-weight: 300;
  color: #666;
  background-color: #fff;

  p,
  h5 {
    margin: 0;
  }
}

.user-info {
  margin-top: 0.2rem;
  background-color: #fff;

  .form {
    padding: 0.56rem;
    padding-right: 0;

    .form-group {
      margin-bottom: 0.2rem;

      label {
        font-size: 0.28rem;
        color: #999;
        margin-right: 0.14rem;
        font-weight: 300;
      }

      input {
        height: 0.6rem;
        background-color: #f4f4f4;
        border: none;
        outline: none;
        padding: 0.08rem 0.16rem;
        border-radius: 0.06rem;
        width: 5.2rem;
        font-size: 0.32rem;
        font-weight: 300;
      }
    }
  }
}

.user-info-title {
  height: 0.88rem;
  line-height: 0.88rem;
  color: #666;
  padding: 0 0.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.company-name {
  height: 1.16rem;
  line-height: 1.16rem;
  color: #666;
  background-color: #fff;
  margin-top: 0.2rem;

  input {
    height: 0.6rem;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    padding: 0.08rem 0.16rem;
    border-radius: 0.06rem;
    width: 5.2rem;
    font-size: 0.32rem;
    font-weight: 300;
  }

  label {
    font-size: 0.28rem;
    color: #999;
    font-weight: 300;
  }

  .form-group {
    padding: 0 0.15rem;
  }
}

.airjet-detail-form-footer {
  padding: 0.32rem;
  text-align: center;

  input {
    font-size: 0.36rem;
    color: #fff;
    background-color: #e67676;
    width: 100%;
    border: none;
    outline: none;
    height: 0.88rem;
    border-radius: 0.06rem;
    font-weight: 300;
  }
}