.travel-model-info{
    font-family:PingFangSC-Regular;
    background-color: @bg-green;
    color: @font-blue;
    height: .62rem;
    width: 100%;
    font-size: .28rem;
    border-bottom: .02rem solid @border-green;
    em{
        font-style: normal;
        display: inline-block;
        width: .32rem;
        height: .32rem;
        border: .02rem solid @border-blue;
        text-align: center;
        line-height: .32rem;
        border-radius: 50%;
        margin-right: .14rem;
    }
}

.travel-model-card{
    margin: .34rem .28rem;
    overflow: hidden;
    font-family:PingFangSC-Regular;
    border: .06rem solid transparent;
    border-radius: .16rem;
    position: relative;

    &.active{
        border-color: @border-blue;
    }
    em{
        font-style: normal;
    }
    .travel-model-img{
        img{
            height: 3rem;
        }
    }
    .item-media{
        position: absolute;
        top: .18rem;
        right: .18rem;
    }
    .travel-model-content{
        padding: .7rem .2rem .1rem;
        position: absolute;
        color: @font-white;
        height: 1.66rem;
        width: 100%;
        bottom: 0;
        font-size: .28rem;
        background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 26%, rgba(0,0,0,0.81) 100%);
        .travel-model-check {
            font-size: .32rem;
        }

        .travel-model-prompt{
            height: auto;
            img{
                width: .32rem;
                height: .32rem;
                vertical-align: middle;
            }
            em{
                vertical-align: middle;
            }
            .pull-left:first-child{
                margin-right: .4rem;
            }
        }

        p{
            margin: 0 0 .16rem 0;
            .tag{
                float: left;
                margin-right: .28rem;
            }
            &.plane-tag{
                height: .52rem;
                margin-top: .24rem;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.travel-model-submit, .travel-plane-submit{
    font-family:PingFangSC-Regular;
    margin: .36rem .34rem .4rem .36rem;
    height: .88rem;
    background-color: @bg-purple;
    border-radius: .16rem;
    font-size: .36rem;
    color: @font-white;
    &.travel-plane-submit{
        margin-top: 1.12rem;
    }
}

.travel-plane-card{
    width: 100%;
    height: 1.44rem;
    padding: .24rem .18rem .22rem .32rem;
    background-color: @bg-white;
    display: flex;
    justify-content: space-between;
    border-bottom: .02rem solid @border-gray;
    .tpc-left{
        display: flex;
        align-items: center;
        .checkbox-circle{
            margin-right: .28rem;
        }
        img{
            width: 1.6rem;
            height: .94rem;
            border: .02rem solid @border-gray;
            margin-right: .22rem;
        }
        .plane-num{
            display: flex;
            flex-direction: column;
        }
        .plane-num{
            font-size: .32rem;
            color: @font-black;
            strong{
                font-weight: normal;
            }
            a{
                width: 1rem;
                margin-top: .1rem;
                color: @font-blue;
                font-size: .24rem;
            }
        }
    }
    .plane-money{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .plane-money{
        text-align: right;
        font-size: .28rem;
        color: @font-red;
        em{
            font-style: normal;
        }
    }
}

.plane-detail{
    background-color: @bg-white;
    font-family: PingFangSC-Regular;
    .plane-detail-content{
        .travel-model-img img{
            height: 4.16rem;
        }
        em{
            font-style: normal;
        }
        
        .travel-model-content{
            .plane-title{
                height: .82rem;
                line-height: .82rem;
                margin: 0 .34rem .38rem .32rem;
                border-bottom: .02rem dotted @border-gray;
                position: relative;
                strong{
                    padding-left: .18rem;
                    font-weight: normal;
                    color: @font-black;
                    font-size: .36rem;
                }
                span{
                    color: @font-grey;
                    font-size: .24rem;
                }
                &:before{
                    position: absolute;
                    content: "";
                    background-color: @bg-red;
                    width: .06rem;
                    height: .32rem;
                    border-radius: .03rem;
                    left: 0;
                    top: .24rem;
                }
            }
            .plane-info{
                display: flex;
                justify-content: space-between;
                padding-left: .32rem;
                padding-right: .34rem;
                height: .88rem;
                color: @font-black;
                margin-bottom: .34rem;
                .plane-info-detail{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    .pid-top{
                        em{
                            font-size: .2rem;
                            vertical-align: middle;
                        }
                        img{
                            width: .32rem;
                            height: .32rem;
                            vertical-align: middle;
                        }
                    }
                    .pid-bottom{
                        text-align: center;
                        line-height: .36rem;
                        font-size: .36rem;
                    }
                }
                
            }

            p{
                padding: .3rem .4rem .3rem .46rem;
                font-size: .24rem;
                line-height: .36rem;
                color: @font-gray;
                strong{
                    display: block;
                    font-size: .28rem;
                    line-height: .28rem;
                    margin-bottom: .2rem;
                    color: @font-black;
                }
            }
        }
    }
}
.travel-info-write{
    .travel-info-content{
        margin: 0;
        .tic-content{
            margin-top: .3rem;
            background-color: @bg-white;
            color: @font-grey;
            font-size: .28rem;
            &:last-child{
                margin-top: .2rem;
            }
            .ticc-title{
                color: @font-gray;
                height: .88rem;
                line-height: .88rem;
                padding-left: .36rem;
                border-bottom: .02rem solid @border-gray;
                height: 0.9rem;
                .pull-right{
                    width: 2.26rem;
                    height: 100%;
                    background-color: @bg-purple;
                    text-align: center;
                    color: @font-white;
                    font-size: .28rem;
                    img{
                        width: .32rem;
                        height: .32rem;
                    }
                }
            }
            .ticc-main{
                padding: .42rem .56rem .5rem .76rem;
                .ticcm-item{
                    display: block;
                    margin-bottom: .3rem;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    span{
                        line-height: .6rem;
                        vertical-align: top;
                    }
                    input, textarea{
                        display: inline-block;
                        width: 5.2rem;
                        height: .6rem;
                        line-height: .6rem;
                        padding: .08rem .16rem;
                        font-size: .28rem;
                        border-radius: .06rem;
                        background-color: @bg-grey;
                    }
                    textarea{
                        height: 1.64rem;
                    }
                }
            }
        }
        .item-content{
            padding-left: 0;
            .item-inner{
                padding-left: .3rem;
                height: 1.2rem;

                .item-title{
                    width: .84rem;
                    font-size: .32rem;
                }
                &:first-child{
                    border-top: none;
                }
            }
        }
    }
    .travel-model-submit{
        background-color: @bg-red;
    }
}


.travel-model-info+.air-order-detail, .travel-detail-check .air-order-detail{
    .air-order-item{
        &.radius-top{
            border-radius: .16rem .16rem 0 0!important;
        }
        &.radius-bottom{
            border-radius: 0 0 .16rem .16rem!important;
            border-bottom: 1px dashed @border-gray!important;
        }
        &.radius-top-bottom{
            border-radius: .16rem!important;
        }
        &.aoi-guest-info, &.aoi-model-info{
            height: auto;
            padding: .22rem .42rem .24rem;
            display: flex;
            flex-direction: column;
            div{
                height: auto!important;
                margin: 0;
                font-size: .28rem;
                color: @font-gray;
                line-height: .36rem;
                margin-bottom: .18rem;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        &.aoi-guest-info{
            border: none!important;
        }
        &.aoi-model-info{
            margin-bottom: .1rem;
            border-radius: 0 0 .16rem .16rem!important;
            border: none;
            span.pull-right{
                color: @font-grey;
            }
        }
        &.aoi-guest{
            font-size: .32rem;
            color: @font-black;
        }
        &.aoi-city-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 1.84rem;
            padding: 0 .64rem;
            .aoi-city{
                text-align: left;
                font-size: .24rem;
                color: @font-grey;
                display: flex;
                flex-direction: column;
                line-height: .34rem;
        
                strong{
                    font-weight: normal;
                    line-height: .66rem;
                    color: @font-black;
                    font-size: .4rem;
                }
                
            }
        }
    }

    .travel-detail-submit{
        background-color: @bg-red!important;
        border-radius: .16rem;
    }
    
}
