// airtaxi-main.less

.navbar-inner {
  &.navbar-on-left .back.link {
    color: @base-black;
  }
  .fa-map-marker, .fa-angle-down {
    display: none;
    color: @bg-gray;
  }
  .topbar-with-icon {
    padding-right: 0;
  }

  .fa-angle-down {
    padding-left: 0.1rem;
  }

}
.content-block.fullscreen {
  padding: 0;
  height: 100%;

  .map, .map *{
    height: 100%;
  }
  .item-title {
    color: @font-grey;
  }
}

.city-navi-button {
  text-align: center;
  padding: 0.2rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 4rem;
  cursor: pointer;
  background-color: @bg-blue;
  i {
    color: @base-white;
  }
}

.filter-toolbar {
  position: absolute;
  border-radius: 4px;
  top: .9rem;
  left: 0;
  right: 0;

  .long-arrow-right {
    display: inline-block;
    height: 0;
    width: 0.8rem;
    vertical-align: middle;
    border: 0.02rem solid @border-white;
    i {
      position: relative;
      float: right;
      display: block;
      width: 0.2rem;
      height: 0.2rem;
      transform: rotate(-45deg);
      top: -0.1rem;
      border-right: 0.04rem solid @border-white;
      border-bottom: 0.04rem solid @border-white;
    }
  }
}

.autocomplete-dropdown {
  left: 10px !important;
  right: 4rem !important;
}

.topbar-with-icon {
  padding: 0 0.1rem;
}

div[data-page=projectdetails] {
  .content-block {
    padding: 0;
  }

  .content-placeholder { // to fix citytour -> project-details transition flash
    height: 1.2rem;
  }

  #airtaxi-details-map-view {
    height: 6rem;
  }

  .project-card-top {
    margin: 0;
    height: 1.2rem;
    position: absolute;
    top: 0.88rem;
    left: 0;
    right: 0;

    .left-media {
      display: inline-block;
      vertical-align: top;
      height: 100%;
      width: 1.86rem;

      img {
        height: 100%;
        width: 100%;
      }
    }
    .project-name {
      padding: 0.1rem 0.3rem 0.05rem;
      color: @font-black;
      font-size: 0.28rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 0.5rem;
      overflow: hidden;
    }
    .price-info {
      width: calc(~"100% - 2rem");
      display: inline-block;
    }
    .abstract-info {
      display: block;
      display: -webkit-box;
      padding: 0 0.3rem 0.05rem;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .project-details {
    .list-block {
      margin: 0;
      padding: 0 0.3rem;

      & > ul {
        padding-top: 0.4rem;
        &:after{
          background: none;
        }
      }
    }

    span.icon {
      display: inline-block;
    }

    .sites-info {
      .icon {
        border-radius: 0.06rem;
        overflow: hidden;
        vertical-align: middle;
        img {
          background-color: @bg-blue;
        }
      }
    }

    .project-headbar {
      padding: 0.2rem 0.4rem;

      .header-item {
        display: inline-block;
        font-size: 0.2rem;
        & * {
          display: inline-block;
        }
      }
      .airplane img {
        width: 0.4rem;
      }
      .sites img {
        width: 0.2rem;
      }
      .time .f7-icons {
        font-size: 0.2rem;
        font-weight: bold;
        color: @font-black;
      }
      .hero-value {
        padding-left: 0.2rem;
        font-size: 0.4rem;
      }
    }

    .info-block {
      .icon {
        width: 0.36rem;
      }
      .info-title {
        font-size: 0.28rem;

        .title {
          padding: 0.08rem;
          vertical-align: middle;
        }
      }
      .details-content {
        font-size: 0.24rem;
        line-height: 150%;
      }
    }

    .sites-list {
      padding-left: 0.5rem;
      .site-name {
        font-size: 0.28rem;
        &::before {
          content: "";
          display: inline-block;
          margin-right: 0.06rem;
          height: 0.3rem;
          border: 1px solid @border-gray;
          vertical-align: middle;
        }
      }
    }
  }

  .footer-button{
      // padding: .16rem .16rem .14rem .22rem;
      position: fixed;
      bottom: 0;
      width: 100%;
      .next-button{
          display: block;
          height: .88rem;
          line-height: .88rem;
          font-size: .36rem;
          text-align: center;
          color: @font-white;
          background-color: @bg-blue;
          // border-radius: .16rem;
          border-radius: 0;
      }
    }
}
