.city-tour-content{
    padding: .16rem .16rem .14rem .22rem;
    position: relative;
    font-family: PingFangSC-Regular;

    .tour-date-select{
        height: .96rem;
        background-color: @bg-white;
        display: flex;
        line-height: .96rem;
        color: @font-grey;
        font-size: .28rem;
        padding: 0 0 0 .42rem;
        margin-bottom: .18rem;
        border-radius: .08rem;
        .label{
            margin-right: .2rem;
        }
        input{
            width: 4.82rem;
            height: .96rem;
            font-size: .32rem;
            color: @font-black;
            border: none;
            outline: none;
            padding: .2rem .26rem;
        }
        &.fa:before {
            content: "\f107";
            position: absolute;
            font-size: .48rem;
            color: @font-grey;
            right: .42rem;
            height: .96rem;
            line-height: .96rem;
            z-index: 22;
        }
    }

    .tour-projects{
        .project-card{
            width: 100%;
            height: 1.44rem;
            background-color: @bg-white;
            margin-bottom: .16rem;
            border-radius: .04rem;
            position: relative;
            .left-media{
                border-radius: .04rem .04rem 0 0;
                img{
                    width: 2.2rem;
                    height: 1.44rem;
                }
            }
            .project-description{
                height: 1.44rem;
                padding: .24rem 0 .24rem .34rem;
            }
            .project-title{
                font-family: PingFangSC-Medium;
                color: @font-black;
                font-size: .28rem;
                line-height: .34rem;
                margin-bottom: .14rem;
            }
            .abstract-info{
                display: block;
                display: -webkit-box;
                position: absolute;
                max-width: 50%;
                font-size: .2rem;
                line-height: .24rem;
                color: @font-grey;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &.fa:before {
                content: "\f105";
                position: absolute;
                font-size: .48rem;
                color: @font-grey;
                right: .58rem;
                height: 1.44rem;
                line-height: 1.44rem;
                z-index: 22;
            }
        }
    }
}

.order-center{
    span{
        vertical-align: middle;
    }
    &.fa:after, &.fa:before{
        font-size: .4rem;
        color: @font-grey;
        margin: 0 .14rem;
        vertical-align: middle;
    }
    &.fa:after{
        content: '\f107';
        font-size: .48rem;
    }
    &.fa:before{
        content: '\f041';
    }
}
