/*AirTaxi*/

.arrow-bidirection {
  position: relative;
    padding: 5px;
    top: 1em;
    left: 1.5em;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color: #eee;

  .left {
    position: relative;
    top: 0.1rem;
    border-top: 2px solid @base-gray;
    &::after {
      content: "";
      display: block;
      width: 6px;
      border-top: 2px solid @base-gray;
      transform: rotate(45deg);
      float: right;
      position: relative;
      top: -0.1rem;
    }
  }

  .right {
    position: relative;
    top: 0.1rem;
    border-bottom: 2px solid @base-gray;
    &::after {
      content: "";
      position: relative;
      top: 0.1rem;
      display: block;
      width: 6px;
      border-bottom: 2px solid @base-gray;
      transform: rotate(45deg);
    }
  }
}

#air-taxi-cross-channel {
  .content-block {
    padding: 0;
  }

  .map {
    width: 100%;
    position: fixed;
    z-index: 1;
  }

  .air-taxi-map {
    width: 100%;
    height: 6.56rem;
  }

  .button-schedule-delete {
    float: right;
    font-size: 0.32rem;
    color: @base-red;
  }

  .schedule-card {
    margin-top: 1em;
    border: 1px solid @base-gray-light;

    .add-schedule-button {
      display: none;
    }
  }

  .schedule-card-list {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 8.32rem;
    background-color: @base-white;
    z-index: 10;


    li:first-child .schedule-card{
      margin-top: 0;

      .add-schedule-button {
        display: block;
      }
      .button-schedule-delete {
        display: none;
      }
    }
  }

  .schedule-title {
    padding: 10px 22px;
    // color: @base-sky;
    border-bottom: 1px solid @base-gray-light;
    font-size: 0.28rem;
  }

  .add-schedule-button {
    position: relative;
    top: -0.5em;
    right: 0.5em;
    color: @base-white;
    background-color: @base-sky;
    border: none;
    border-radius: 1em;
    font-size: 3em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    i {
      font-size: 0.6em;
      position: relative;
      top: -0.2em;
    }
  }

  .airtaxi-select-label {
    width: 100% !important;
    font-size: 0.24rem;
  }

  .schedule-content {
    margin: 0 0 0 25px;
  }

  .schedule-card .row {
    width: 100%;
    border-bottom: 1px solid @base-gray-light;

    .item-content {
      padding-left: 0;
    }
    &:last-child {
      line-height: 47px;
      border: none;

      .item-content {
        width: 100%;
      }

      .item-inner {
        display: inline-flex;
      }

      .item-title {
        width: 50%;
      }
    }
  }

  .schedule-card .list-block .item-inner {
    display: block;
    border: none;

    &::after {
      display: none;
    }

    .item-input {
      margin-left: 0;
      &.select-flight {
        margin-left: 15px; // caused by f7 col-xx calculation
      }
    }

    .inline-input {
      display: inline-flex;
    }

    .inline-input select, .inline-input input {
      font-size: 0.28rem;
    }

    .select-flight-label {
      font-size: 0.24rem;
    }
  }

  .select-arrow-down {
    position: absolute;
    font-size: 0.32rem;
    right: 0.3rem;
    top: 0.54rem;
  }

  .select-arrow-right {
    position: relative;
    line-height: 0.94rem;
    font-size: 0.32rem !important;
    float: right;
  }

  .flight-input a {
    display: inline-block;
    width: 100%;
    font-size: 0.28rem;
    line-height: 0.94rem;
    color: @base-black;
  }

  .footer-button {
    padding: 5px 22px;
  }

  .start-flight {
    height: 0.88rem;
    line-height: 0.88rem;
    border: 1px solid @base-red-light;
    background-color: @base-red-light;
    border-radius: 0.16rem;
    color: @base-white;
    font-size: 0.36rem;
    letter-spacing: 0;
  }
}

#planes-selection {
  .plane-type-nav {
      margin-top: 0.32rem;
  }

  .card {
    border-radius: 8px;
    color: @base-gray;
    font-size: 0.2rem;

    .card-header {
      padding: 0;
    }

    .plane-name {
      font-size: 0.24rem;
      color: @base-dark;
    }
    .plane-price .price-value {
      font-size: 0.36rem;
      color: @base-red;
    }
    .departure-info {

    }
    .plane-capacity {

    }
    .plane-notice {
      position: relative;
      float: right;
      font-size: 0.16rem;
      color: @base-dark;
      letter-spacing: 0;
    }
  }
}
