.checkbox-circle.label-checkbox {
    i.icon-form-checkbox{
        width: .38rem;
        height: .38rem;
        border: none;
        background: url(../assets/images/travel/btn_choice.svg) no-repeat;
        background-size: 100%;
        &.checkbox-blue{
            background: url(../assets/images/travel/btn_choice_blue.svg) no-repeat;
        }
        &.checkbox-gray{
            background: url(../assets/images/travel/btn_choice_gray.svg) no-repeat;
        }
        &:after {
            background-image: none !important;
        }
    }

    input[type="checkbox"]:checked + .item-media, input[type="radio"]:checked + .item-media{
        i.icon-form-checkbox{
            background: url(../assets/images/travel/btn_choice_select.svg) no-repeat;
            background-size: 100%;
            border: none;
        }
    }
}