.infinite-scroll-preloader {
  margin-top:-20px;
  margin-bottom: 10px;
  text-align: center;
}
.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
}
.comment-container {
  background-color: @base-white;
  .comment-title {
    display: block;
    padding: 10px;
    height: 40px;
    width: 100%;
    .comment-text {

    }
    .comment-score {
      float: right;
      .comment-number {
        color: @font-red;
      }
    }
  }
  .comment-core {
    .comment-content {
      border-top: solid @border-gray 1px;
      .inner-header {
        height: 50px;
        background-color: white;
        .comment-avatar {
          width: 30px;
          height: 30px;
          margin: 10px;
          border-radius: 15px;
          float: left;
        }
        .comment-name {
          font-size: 0.22rem;
          padding-top: 10px;
          .comment-date {
            margin-right: 10px;
            color: @font-gray;
          }
        }
        .comment-star {
          margin-top: -5px;
          i {
            font-size: 0.18rem;
            color: @font-red;
          }
        }
      }
    }
    .comment-comment {
      .comment-inner {
        font-size: 0.24rem;
        color: @font-gray;
        padding: 5px 10px 10px 10px;
      }
    }
  }


  .comment-list {
    .list-block {
      margin-top: 0;
    }
    .comment-more {
      height: 60px;
      .button {
        margin: 10px 20px;
      }
    }
  }
}

//添加评论
.commentadd-star {
  margin-top: 5px;
  height: 50px;
  background-color: @base-white;
  .comment-title {
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 0.36rem;
    margin: 10px;
  }
  .comment-stars {
    display: inline-block;
    float: right;
    height: 30px;
    line-height: 30px;
    margin: 10px;
    i {
      margin: 0 3px;
      color: @base-red;
    }
  }
}
.commentadd-comment {
  margin-top: 5px;
  height: 180px;
  background-color: @base-white;
  textarea {
    padding: 10px;
    height: 160px;
    width: 100%;
    resize: none;
    font-size: 0.36rem;
  }
}
.commentadd-submit {
  .button {
    margin: 20px;
    background-color: @base-red;
    border-radius: 8px;
    border: none;
  }
}