.block-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-inner {
  background-color: white;
  .sliding {
    color: black;
    font-weight: normal !important;
  }
}


.arrow-right, .arrow-left{
    width: 1.12rem;
    height: .03rem;
    background-color: @base-gray;
    position: relative;
    margin: .3rem .28rem;
    &:after{
        content:"";
        width: .2rem;
        height: .03rem;
        background-color: @base-gray;
        position: absolute;
        right: 0;
        top: -.08rem;
        transform: rotate(45deg);
    }
    &.arrow-left:after{
      right: auto;
      left: 0;
      top: .08rem;
    }
}

label.checkbox-circle.label-checkbox {
    i.icon-form-checkbox{
        width: .38rem;
        height: .38rem;
        border: none;
        background: url(../assets/images/travel/btn_choice.svg) no-repeat;
        background-size: 100%;
    }
    input[type="checkbox"]:checked + .item-media{
        i.icon-form-checkbox{
            border: none;
            background: url(../assets/images/travel/btn_choice_select.svg) no-repeat;
            background-size: 100%;
        }
    }
}

label.checkbox-square.label-checkbox {
    i.icon-form-checkbox{
          width: .38rem;
          height: .38rem;
          border-radius: .04rem;
          border: .02rem solid @base-gray-light;
          background:rgba(205,205,205,0.20);
          font: normal normal normal 14px/1 FontAwesome;
      }
    input[type="checkbox"]:checked + .item-media{
        i.icon-form-checkbox{
            border: .02rem solid @base-sky;
            background:rgba(80,188,255,0.15);
            border-radius: .04rem;
            
            &:after{
                content:'\f00c';
                background: none;
                display: flex;
                display: -webkit-flex;
                justify-content: center;
                align-items: center;
                color:@base-sky;
                font-size: .18rem;
            }
        }
    }
}

.tag{
  display: inline-block;
  padding: 0 .32rem;
  height: .52rem;
  line-height: .52rem;
  border-radius: .3rem;
  border:.02rem solid @base-sky-light;
  color: @base-sky-light;
  &.tag-purple{
    color: @base-purple;
    border-color: @base-purple;
  }
}

.triangle-top(@size) {
  display: block;
  border: @size solid #fff;
  border-top: none;
  border-right-color: transparent;
  border-left-color: transparent;
}

.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.padding-content {
  margin: 0.3rem 0 !important;
}

.text-vertical-center(@height) {
  height: @height;
  line-height: @height;
}


@base-black: #000;
@base-black-light: #333;
@base-gray-dark: #666;
@base-gray: #999;
@base-gray-light:  #cdcdcd;
@base-white: #fff;
@base-grey: #f4f4f4;
@base-purple: #a182da;
@base-sky:   #4e9fe4;
@base-blue:  #50bbff;
@base-blue-dark: #94a4f5;
@base-sky-light:#97c5f8;
@base-sky-dark:#acd4f6;
@base-red:   #e54747;
@base-red-light: #ee4a4a;

@base-image-path: "../../assets/images/";
