.block-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle-top(@size) {
  display: block;
  border: @size solid #fff;
  border-top: none;
  border-right-color: transparent;
  border-left-color: transparent;
}

@base-blue: #50bbff;