.air-dream-detail {
  color: #666;

  .air-info {
    .text-vertical-center(0.88rem);
    background-color: @bg-white;

    em{
        font-style: normal;
    }

    .air-info-header {
      padding: 0 0.36rem;
      color: @font-gray;
      font-size: 0.24rem;
      border-bottom: 1px solid @border-gray;
      img{
          width: 1.32rem;
          height: .32rem;
          vertical-align: text-bottom;
          margin-right: .2rem;
      }
      a{
        color: @font-blue;
        float: right;
      }
    }

    .air-info-content {
        background-color: @bg-white;
        padding: .14rem .32rem .26rem;
        height: 1.74rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        .content-top{
          height: .36rem;
          line-height: .36rem;
          display: flex;
          justify-content: space-between;
          font-size: .24rem;
          margin-bottom: .32rem;
          span{
            font-size: .2rem;
          }
        }
        .content-part{
          display: flex;
          justify-content: space-around;
          font-size: 0.28rem;
          color: @font-gray;
          text-align: center;
          padding: 0 .2rem;
          .air-location{
            font-size: .36rem;
            line-height: .36rem;
            margin-bottom: .04rem;
          }
          .air-date{
            line-height: .34rem;
          }
          .arrow-right{
            width: .62rem;
          }
        }
    }

    .air-info-footer {
      padding: 0 0.36rem;
      color: @font-black;
      font-size: 0.2rem;
      background-color: @bg-white;
      border-top: 1px solid @border-gray;
      display: flex;
      justify-content: space-between;
      .money{
        font-size: .44rem;
        color: @font-red;
        vertical-align: middle;
      }
    }
  }
}

.company-attention {
  color: @font-gray;
  background-color: @bg-white;
  padding: 0 .56rem 0 .3rem;

  textarea {
    display: inline-block;
    font-family: Arial;
    height: 1.6rem;
    background-color: @bg-grey;
    border: none;
    outline: none;
    padding: 0.08rem 0.16rem;
    border-radius: 0.06rem;
    width: 5.2rem;
    font-size: 0.32rem;
    font-weight: 300;

  }

  label {
    line-height: .4rem;
    vertical-align: top;
    float: left;
    width: 1.3rem;
    text-align: right;
    margin-right: 0.14rem;
    font-size: 0.28rem;
    color: @font-grey;
  }

}