* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

img {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.panel-bg-color {
  background-color: #f2f2f2;
  ul.personal-information {
    color: @base-black-light;
    font-weight: normal;
    .item-media i{
      font-size: 0.45rem;
    }
    .item-inner .item-title{
      font-size: 0.30rem;
    }
    li ul li {
      font-weight: lighter;
    }
  }
}

.view-main .navbar .navbar-inner {
  .left {
    i.icon {
      color: #000;
      font-size: .5rem;
    }
  }
  .right {
    i.icon {
      color: #000;
      font-size: .35rem;
    }
  }
}

.page {
  background-color: #f7f7f7 !important;
}

.content-block {
  padding: 0.61rem 0;
  margin: 0;
  background: @base-white;
}

.index-nav {
  padding: 0 0.2rem;
  .text-center {
    a {
      font-size: 0.28rem;
      color: @base-black-light;
    }
    img {
      padding-bottom: 0.35rem;
    }
  }
}

.index-search {
	position: absolute;
	top: .98rem;
	z-index: 5;
	width: 100%;
	i {
		position: absolute;
		left: 10%;
		top: 50%;
		color: @base-gray;
		transform: translateY(-55%);
		font-size: .45rem;
	}
	input {
		display: block;
		background-color: @base-white;
		border-radius: .08rem;
		width: 90.8%;
		margin: 0 auto;
		text-align: center;
		border: .01rem solid @border-gray;
		.text-vertical-center(.73rem);
		&::-webkit-input-placeholder {
			font-size: .28rem;
			color: @base-gray;
		}
	}
}

.content-line {
  margin: 0 0.2rem;
  padding-top: .28rem;
  background-color: @base-white;
  border-bottom: 0.01rem solid @border-gray;
}

.index-news {
  background-color: @base-white;
  border-bottom: 0.01rem solid @border-gray;
  .news-img {
    width: .94rem;
  }
  .news-box {
    padding: .28rem .2rem;
    .news-text-box {
      height: 46px;
      width: calc(~"100% - 0.94rem - 0.485rem");
      position: relative;
      overflow: hidden;
      .news-text {
        position: absolute;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        li {
          width: 100%;
          line-height: 22px;
          .text-overflow();
          a {
            font-size: .24rem;
            color: #747C82;
          }
        }
      }
    }
  }
}

.bottom-title {
  font-size: .28rem;
  height: 1.02rem;
  line-height: 1.02rem;
  color: @base-black-light;
  text-align: center;
  border-top: 0.01rem solid @border-gray;
  border-bottom: 0.01rem solid @border-gray;
  background-color: @base-white;
  margin: .19rem 0 0 0;
}

.pro-content {
  border-bottom: 0.01rem solid @border-gray;
  background-color: @base-white;
  .pro-left {
    width: 42.8%;
    padding: .5rem 0 .59rem .39rem;
    border-right: .01rem solid @border-gray;
    h5 {
      padding: 0;
      margin: 0;
      font-size: .28rem;
      color: @base-black-light;
      font-weight: 500;
    }
    .price {
      margin-top: .11rem;
      width: 1.65rem;
      padding: .05rem 0;
      text-align: center;
      background-color: @base-red-light;
      border-radius: .04rem;
      font-size: .28rem;
      color: @base-white;
      margin-bottom: .12rem;
    }
    span {
      font-size: .18rem;
      color: #9B9B9B;
      text-decoration: line-through;
    }
  }
  .pro-right {
    width: 57.2%;
    .pro-top {
      padding: .23rem .2rem .265rem .32rem;
      .pro-adr {
        font-size: .24rem;
        color: @base-black-light;
        .dfim-center {
          display: inline-block;
          .arrow-right {
            display: inline-block;
            width: .28rem;
            margin: .12rem;
            vertical-align: middle;
            &:after {
              width: .15rem;
              top: -0.06rem;
            }
          }
        }
      }
      .price {
      	margin-top: .1rem;
        font-size: .18rem;
        color: @base-red-light;
      }
    }
  }
  .pro-bottom {
    padding-left: .32rem;
    padding-top: .185rem;
    border-top: .01rem solid @border-gray;
    h5 {
      font-size: .24rem;
      color: @base-black-light;
      margin: 0;
    }
    span {
      font-size: .18rem;
      color: @base-red-light;
      padding-top: .1rem;
    }
  }
}

.searchbar-input {
	.close-popup {
	    font-size: 15px;
	    position: absolute;
	    right: 5px;
	    display: block;
	    top: 3px;
      color: @base-gray-dark;
	}
}
