/*login*/

.air-login-top {
  background-image: url("../../assets/images/login_top.svg");
  width: 100%;
  height: 6.66rem;
  img{
    display: block;
  }
}

.air-login-plane {
  img {
    width: 80px;
    height: 65px;
    padding-left: 30px;
  }
}

.air-login-title {
  color: white;
  font-size: 0.45rem;
  font-weight: bold;
  height: 65px;
  line-height: 65px;
}

.login-inner {
  margin-right: 30px;
  margin-left: 20px;
}

.item-input .login-placeholder {
  font-size: 0.14rem;
  color: #999;
  margin-left: 0.1rem;
  font-weight: lighter;
}

.login-icon {
  width: 0.5rem;
  height: 0.5rem;
}

.login-forgot-pwd {
  font-size: 0.16rem;
  color: #999;
  text-align: right;
  width: 100%;
  padding-right: 20px;
  font-weight: lighter;
}

.login-btn {
  background-color: #ee4a4a;
  border-radius: 0.44rem;
  height: 0.88rem;
  border: none;
  color: white;
  font-size: 0.36rem;
  font-weight: lighter;
}

.login-goto-register {
  font-size: 0.16rem;
  img {
    width: 0.24rem;
    height: 0.18rem;
    display: inline-block;
  }
}