.air-order-detail {
  padding: 0.34rem;
  color: @font-gray;

  .air-order-item {
    background-color: @bg-white;
    .text-vertical-center(0.88rem);
    padding-left: 0.42rem;
    border-radius: 0.16rem;
    border-bottom: 1px dashed @border-gray;

    &:first-child{
      i{
        font-size: .34rem;
        color: @font-grey;
        margin-top: .22rem;
        margin-right: .22rem;
      }
    }

    &:not(:first-child) {
      border-radius: 0;
    }

    &:nth-child(2) {
      border-top-right-radius: 0.16rem;
      border-top-left-radius: 0.16rem;
    }

    &:last-child {
      border-bottom-right-radius: 0.16rem;
      border-bottom-left-radius: 0.16rem;
      border: none;
    }

    &.air-city {
      display: flex;
      justify-content: space-around;
      height: auto;
      line-height: initial;
      padding: .6rem .4rem;
      .arrow-right{
        width: .62rem;
        margin-left: 0;
        margin-right: 0;
      }
      .order-location-info {
        text-align: center;

        div {
          font-size: 0.28rem;
          font-weight: 300;
          margin-bottom: 0.06rem;

          &:first-child {
            font-size: 0.36rem;
            font-weight: normal;
          }
        }
      }
    }
    &.aoi-card{
      background-color: @bg-blue;
      color: @font-white;
      display: flex;
      justify-content: space-between;
      padding-right: .42rem;
      border: none!important;
    }
    &.aoi-card-info.air-order-item.radius-bottom{
      display: flex;
      justify-content: space-between;
      padding-right: .42rem;
      font-size: .36rem;
      height: 1.4rem;
      line-height: 1.4rem;
      margin-bottom: .2rem;
      border: none!important;
    }
    &.air-order-item.radius-top-bottom.no-border{
      border: none !important;
    }
  }

  .back-submit{
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    a{
        width: 3.2rem;
        height: .88rem;
        font-size: .36rem;
        color:@font-white;
        background-color: @bg-red;
        border-radius: .06rem;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &:last-child{
          background-color: @bg-purple;
        }
    }
  }

  .order-submit {
    margin-top: 0.52rem;
    text-align: center;
    color: @font-white;
    font-size: 0.36rem;
    .text-vertical-center(0.88rem);
    letter-spacing: 0.16rem;

    &:not(.multi-btn) {
      background-color: #8ad09c;
    }

    &.multi-btn {
      display: flex;

      div {
        flex: 1;
        margin-right: 10px;
        background-color: #8ad09c;
        border-radius: 0.06rem;
        font-weight: 300;

        &:last-child {
          background-color: #88a3e5;
          letter-spacing: normal;
        }
      }
    }
  }
}

//三角符号
.triangle-container {
  height: 10px;
  width: 100%;
  .triangle {
    content: "";
    position: absolute;
    right: 22px;
    .triangle-top(10px);
  }
}

//detail

.order-detail-list {
  // 头部
  .order-detail-header {
    border-radius: 8px;
    border-bottom: 0;
    background-color: white;
    margin: 0px 10px;
    height: 0.88rem;
    line-height: 0.48rem;
    font-size: 0.28rem;
    color: @font-gray;

    .order-number {
      float: left;
      padding: 10px;
    }
    .order-trash {
      float: right;
      padding: 10px;
      i {
        font-size: 20px;
        color: @font-grey;
      }
    }
    .order-computer {
      padding-top: 18px !important;
      font-size: 0.24rem;
      color: #9b9b9b;
    }
    .order-total-price {
      color: @font-red;
      font-size: 24px !important;
    }
  }
  // 线
  .order-detail-line {
    height: 1px;
    margin: 0 20px;
    border-bottom: 1px dashed @border-gray;//透明0.3
  }
  // 内容
  .order-detail-content {
    border-radius: 8px;
    background-color: white;
    margin: 0 10px;
    height: 3rem;
    clear: both;
    .order-detail-content-title {
      height: 0.9rem;
      img {
        margin-left: 10px;
        width: 25px;
        height: 25px;
      }
      .order-flytype {
        font-size: 0.28rem;
        color: #4a4a4a;
        margin-left: 10px;
        line-height: 0.9rem;
        height: 0.9rem;
      }
      .order-date {
        line-height: 0.9rem;
        height: 0.9rem;
        font-size: 0.24rem;
        margin-right: 10px;
        color: @font-grey;
        float: right;
      }
    }
    .order-content-line {
      height: 1px;
      background-color: rgba(196, 196, 196, 0.5);
      margin: 0 10px;
    }
    .order-detail-content-inner {
      .order-from, .order-to {
        margin-top: 0.4rem;
        text-align: center;
        strong {
          display: block;
          font-size: 0.4rem;
          color: @font-gray;
        }
      }
      .order-core {
        text-align: center;
        margin-top: 0.45rem;
        .dfim-center {
          .arrow-right {
            margin: 0;
            display: inline-block;
            width: 1rem;
            vertical-align: middle;
            &:after {
              width: .15rem;
              top: -0.06rem;
            }
          }
        }
      }
      .order-other-info {
        margin-top: 10px;
        text-align: center;
        font-size: 0.28rem;
        height: 20px;
        line-height: 20px;
        img {
          display: inline-block;
          width: 20px;
          height: 20px;
        }
        span {
          display: inline-block;
          font-size: 0.24rem;
          color: @font-grey;
        }
      }

    }

  }
  // 人
  .order-detail-content-person {
    border-radius: 8px;
    background-color: white;
    margin: 0 10px;
    height: auto;
    ul {
      clear: both;
      li {
        height: 0.7rem;
        line-height: 0.7rem;
        padding-left: 10px;
        font-size: 0.24rem;
        .order-person-name {
          color: #000;
          min-width: 60px;
          display: inline-block;
        }
        .order-person-id {
          color: #4a4a4a;
          margin-left: 20px;
        }
      }
    }
  }
  //确认
  .order-detail-confirm {
    .button{
      margin: 0 10px 50px;
    }
  }
}




