.order-product-list {
  background-color: white;
  padding: 10px;
  .order-product {
    .order-product-header {
      .product-index {
        background-color: @bg-gray;
        color: @font-white;
        font-size: 0.24rem;
        border-radius: 2px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        vertical-align: middle;
        display: inline-block;
      }
      .product-date {
        color: @font-gray;
        font-size: 0.24rem;
      }
      .product-time-cost {
        color: @font-gray;
        font-size: 0.2rem;
      }
      img {
        margin-left: 10px;
        width: 20px;
        height: 20px;
      }
    }
    .order-product-content {
      .order-from, .order-to {
        margin-top: 0.2rem;
        text-align: center;
        strong {
          display: block;
          font-size: 0.4rem;
          color: @font-gray;
        }
      }
      .order-core {
        text-align: center;
        margin-top: 0.3rem;
        .dfim-center {
          .arrow-right {
            margin: 0;
            display: inline-block;
            width: 1rem;
            vertical-align: middle;
            &:after {
              width: .15rem;
              top: -0.06rem;
            }
          }
        }
      }
    }
    .order-product-footer {

      height: 40px;
      line-height: 40px;
      .product-desc {
        color: @font-gray;
        font-size: 0.2rem;
      }
      .product-price {
        color: @font-red;
        font-size: 0.4rem;
      }
      .product-select {
        i {
          float: right;
          font-size: 18px;
          vertical-align: middle;
          height: 40px;
          line-height: 38px;
        }
      }
    }
  }
}


.order-add-person {
  background-color: #fff;
  margin-top: 10px;
}

.order-add-person .order-title {
  font-size: 0.12rem;
  padding: 10px;
}
.order-add-person .order-person {
  padding: 0 10px;
  .button {
    font-size: 0.16rem;
    display: inline-block;
    width: auto;
    border-color: @border-gray;
    color: #9b9b9b;
  }
  .button-active {
    border-color: @border-red;
    color: @font-red;
  }
  .btn-add {
    border-color: @border-blue;
    color: #4E9FE4;
  }
  i {
    font-size: 16px;
    vertical-align: middle;
  }
}

.order-add-person .order-person-list{
  border-top: 0.5px solid @border-gray;
  .order-person-content {
    margin: 10px;
    .order-icon-delete {
      color: @font-red;
      font-size: 17px;
      float: left;
      margin: 10px 10px 10px 0;
    }
    .order-person-inner {
      display: inline-block;
      .order-person-name {
        font-size: 0.16rem;
        color: #4a4a4a;
      }
      .order-person-id {
        font-size: 0.14rem;
        color: #4a4a4a;
      }
    }
    .order-icon-right {
      color: @font-grey;
      font-size: 22px;
      float: right;
      margin: 10px;
    }
  }
}
.order-add-person .order-person-mobile {
  border-top: 0.5px solid @border-gray;
  padding: 10px 20px 10px 10px;
  span {
    font-size: 14px;
    color: #9b9b9b;
  }
  .order-edit {
    float: right;
  }
  a,i {
    color: #4a4a4a;
    font-size: 12px;
  }

}
.order-person-price {
  margin-top: 10px;
  background-color: #fff;
  .order-price-title {
    font-size: 0.12rem;
    padding: 10px;
  }
  .order-price-type {
    margin: 0 10px;
    height: auto;
    min-height: 0.9rem;
    .order-price-icon{
      display: inline-block;
      margin: 10px 0;
      i {
        font-size: 0.34rem;
        font-weight: normal;
        &:active {
          font-weight: bold;
        }
      }
    }
    .order-persons {
      display: inline-block;
      font-size: 0.1rem;
      color: #9b9b9b;
      text-align: right;
    }
    .order-price {
      display: inline-block;
      font-size: 0.5rem;
      color: @font-red;
      float: right;
      line-height: 0.9rem;
    }
  }
  .order-price-preferential {
    border-top: 0.5px solid @border-gray;
    height: 0.8rem;
    padding: 0.2rem 0;
    .order-title {
      font-size: 0.24rem;
      padding: 10px;
    }
    .price-content {
      font-size: 0.24rem;
      color: #9b9b9b;
      height: 0.8rem;
      .price {
        color: @font-blue;
      }
      i {
        padding: 0 10px;
        font-size: 0.34rem;
        color: @font-gray;
      }
    }
  }
}

.order-detail-agreement {

  font-size: 0.26rem;
  width: 100%;
  height: 40px;
  margin: 10px 20px;

  i {
    font-size: 18px;
    vertical-align: middle;
    height: 40px;
    line-height: 35px;
  }
  .order-agree {
    margin-left: 5px;
    color:@base-gray-dark;
  }
  .order-agree-and {
    color:@base-gray-dark;
  }
  .order-announce {
    color: @font-blue;
  }
}
.order-detail-confirm {
  .button{
    margin: 0 10px 50px;
  }
}