.air-order-detail {
  padding: 0.34rem;
  color: @base-gray-dark;

  .air-order-item {
    background-color: @base-white;
    .text-vertical-center(0.88rem);
    padding-left: 0.42rem;
    border-radius: 0.16rem;
    border-bottom: 1px dashed @base-grey-light;

    &:not(:first-child) {
      border-radius: 0;
    }

    &:nth-child(2) {
      border-top-right-radius: 0.16rem;
      border-top-left-radius: 0.16rem;
    }

    &:last-child {
      border-bottom-right-radius: 0.16rem;
      border-bottom-left-radius: 0.16rem;
      border: none;
    }

    &:nth-child(4) {
      display: flex;
      height: auto;
      line-height: initial;
      padding: 0.6rem;

      .order-location-info {
        text-align: center;
        flex: 1;

        div {
          font-size: 0.28rem;
          font-weight: 300;
          margin-bottom: 0.06rem;

          &:first-child {
            font-size: 0.36rem;
            font-weight: normal;
          }
        }
      }
    }
  }

  .order-submit {
    margin-top: 0.52rem;
    text-align: center;
    color: @base-white;
    font-size: 0.36rem;
    .text-vertical-center(0.88rem);
    letter-spacing: 0.16rem;

    &:not(.multi-btn) {
      background-color: #8ad09c;
    }

    &.multi-btn {
      display: flex;

      div {
        flex: 1;
        margin-right: 10px;
        background-color: #8ad09c;
        border-radius: 0.06rem;
        font-weight: 300;

        &:last-child {
          background-color: #88a3e5;
          letter-spacing: normal;
        }
      }
    }
  }
}


//detail

.order-detail-list .order-detail-header {
  border-radius: 8px;
  border-bottom: 0;
  background-color: white;
  margin: 10px 10px 0 10px;
  height: 0.88rem;
  line-height: 0.48rem;
  font-size: 0.14rem;
  color: @base-gray-dark;
  .order-number {
    float: left;
    padding: 10px;
  }
  .order-trash {
    float: right;
    padding: 10px;
    i {
      font-size: 20px;
      color: @base-gray;
    }
  }
  .order-computer {
    padding-top: 20px !important;
    font-size: 0.1rem;
    color: #9b9b9b;
  }
  .order-total-price {
    color: @base-red;
    font-size: 24px !important;
  }
}
.order-detail-list .order-detail-line {
  height: 1px;
  margin: 0 15px;
  border-bottom: dashed rgba(196, 196, 196, 0.5) 1px;//透明0.3
}
.order-detail-list .order-detail-content {
  border-radius: 8px;
  background-color: white;
  margin: 0px 10px 10px 10px;
  height: 3rem;
  //display: block;
  .order-detail-content-title {
    height: 0.9rem;
    .order-icon {
      width: 0.5rem;
      height: 0.5rem;
      margin: 10px;
      display: inline-block;
    }
    .order-flytype {
      font-size: 0.14rem;
      color: #4a4a4a;
      display: inline-block;
    }
    .order-date {
      line-height: 0.9rem;
      height: 0.9rem;
      font-size: 0.12rem;
      padding-right: 10px;
      color: @base-gray;
      float: right;
      display: inline-block;
    }
    .order-content-line {
      height: 1px;
      background-color: rgba(196, 196, 196, 0.5);
      margin: 0 10px;
    }
  }
  .order-detail-content-inner {
    .order-from {
      margin-top: 0.7rem;
      text-align: center;
      strong {
        display: block;
        font-size: 0.2rem;
        color: @base-gray-dark;
      }
      span {
        display: block;
        font-size: 0.12rem;
        color: @base-gray-light;
      }
    }
    .order-core {
      text-align: center;
      margin-top: 0.45rem;
      .order-time-interval {
        font-size: 0.14rem;
        color:#000;
        display: block;
      }
      strong {
        height: 0.1rem;
        line-height: 0.1rem;
      }
      .order-cost {
        font-size: 0.14rem;
        color: #9b9b9b;
      }
    }
    .order-to {
      text-align: center;
      margin-top: 0.7rem;
    }
    .order-other-info {
      text-align: center;
      img {
        display: inline-block;
        width: 30px;
        height: 30px;
      }
      span {
        display: inline-block;
        font-size: 0.12rem;
        color: @base-gray-light;
      }
    }

  }

}
.order-detail-list .order-detail-content-person {
  border-radius: 8px;
  background-color: white;
  margin: 0px 10px 10px 10px;
  height: auto;
  ul li {
    height: 0.7rem;
    line-height: 0.7rem;
    padding-left: 10px;
    font-size: 0.12rem;
    .order-person-name {
      color: #000;
    }
    .order-person-id {
      color: #4a4a4a;
    }
  }
}

.order-detail-list .order-detail-agreement {
  font-size: 0.13rem;
  width: 100%;
  .list-block {
    margin-top: 5px;
  }
  .order-agree {
    font-size: 0.13rem;
  }
  .order-announce {
    color: @base-red;
    font-size: 0.13rem;
  }
}
.order-detail-list .order-detail-confirm {
  .button{
    margin: 0 10px 50px;
  }
}