.profile {
  color: @font-gray;
  .list-block {
    margin: 0;
    .item-title {
      font-size: .28rem;
      color: @font-grey;
    }
    .item-after {
      font-size: .28rem;
      color: @font-black;
      text-align: right;
    }
    .item-input {
      font-size: .28rem;
      color: @font-black;
      text-align: right;
      .item-link {
        display: inline-block;
      }
      &.modify {
        position: relative;
        input {
          font-size: .28rem;
          color: @font-gray;
        }
        .save-btn {
          display: flex;
          align-items: center;
          line-height: 1;
          position: absolute;
          z-index: 1;
          height: 29px;
          top: 7px;
          padding: 0 .3rem;
          font-size: .28rem;
          border-radius: 3px;
          color: @font-white;
          right: 0;
          background-color: @bg-red;
          border: 0.01rem solid @border-red;
        }
      }
    }
    .item-content {
      min-height: .96rem;
      &.profile-header {
        min-height: 1.6rem;
        img {
          width: 1.1rem;
          border-radius: 50%;
        }
      }
      .item-inner {
        position: relative;
        .not-set {
          color: @font-grey;
        }
      }
    }
    .add-profile {
      margin-top: .14rem;
      .add-icon {
        display: inline-block;
        min-width: 1.2rem;
        position: absolute;
        height: 1rem;
        line-height: 1rem;
        top: 50%;
        right: 35px;
        transform: translateY(-50%);
        z-index: 3;
      }
    }
  }
  .no-guest {
    font-size: .28rem;
    color: @base-gray;
    height: calc(~"100vh - .88rem - 1rem");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .add-guest-link {
    color: @base-white;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    background: @base-red-light;
    font-size: .36rem;
    .fa {
      margin-right: .2rem;
    }
  }
}

.add-guest-box {
  background-color: @bg-white;
  margin-bottom: .36rem;
  .add-title {
    height: .84rem;
    line-height: .84rem;
    border-bottom: .02rem solid @border-gray;
    padding: 0 .2rem;
    font-size: .28rem;
    color: @font-gray;
  }
  .add-info {
    padding: .44rem .2rem .42rem;
    > div {
      margin-bottom: .3rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    label {
      font-size: .28rem;
      color: @font-grey;
      display: inline-block;
      min-width: 1.2rem;
      text-align: right;
    }
    input {
      color: @font-gray;
      height: 0.6rem;
      background-color: #f4f4f4;
      border: none;
      outline: none;
      padding: 0.08rem 0.16rem;
      border-radius: 0.06rem;
      width: 5.2rem;
      font-size: 0.32rem;
      font-weight: 300;
    }
  }
}

.add-guest-btn {
	padding: 0 .2rem;
  .add-guset {
  	color: @font-gray;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    height: 1.1rem;
    border: .02rem dashed @border-gray;
    border-radius: .1rem;
    font-size: .32rem;
    .fa {
      margin-right: .2rem;
    }
  }
  .guset-submit {
  	margin-top: .32rem;
  	border-radius: .06rem;
  	display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
  	width: 100%;
  	height: .88rem;
  	background-color: #f03f3c;
  	border: .01rem solid @border-red;
  	letter-spacing: .2rem;
  	font-size: .36rem;
  	padding: 0;
  	color: @font-white;
  }
}
