
.school-card-header-pic {

  border-radius: 8px;
  overflow: hidden;
  box-shadow: none;

  .card-header {
    height: 3.68rem;
    background-size: cover;
    background-position: center;
  }
  .card-content {
    .card-content-inner {
      p {
        border-left: solid 3px @border-red;
        font-size: 0.32rem;
        color: #333;
        span {
          margin-left: 5px;
        }
      }
    }
  }

}

.school-brief-image {
  height: 3.68rem;
  background-size: cover;
  background-position: center;
}
.mark-down-container {
  padding-top: 0.5px;
  padding-bottom: 0;
  background-color: @bg-grey;
  p {
    font-size: 0.32rem;
    color: @font-gray;
    white-space: pre-line;
    padding: 0 10px 0 10px;
    margin: 10px 0 0 0;
    //text-indent: 0.5rem;
    line-height: 0.5rem;
  }
}

.school-content {
  padding-top: 0.5px;
  padding-bottom: 0;
  background-color: @bg-grey;
  p {
    font-size: 0.32rem;
    color: @font-gray;
    white-space: pre-line;
    padding: 0 10px 0 10px;
    margin: 10px 0 0 0;
    text-indent: 0.5rem;
    line-height: 0.5rem;
  }
  .p-title-container {
    margin-top: 15px;
  }
  .p-title {
    font-size: 0.36rem;
    color: @font-red;
    line-height: 0.32rem;
    height: 0.32rem;
    margin: 10px;
    padding-left: 5px;
    border-left: 3px solid @border-red;
  }
}