
.school-card-header-pic {

  border-radius: 8px;
  overflow: hidden;
  box-shadow: none;

  .card-header {
    height: 3.68rem;
    background-size: cover;
    background-position: center;
  }
  .card-content {
    .card-content-inner {
      p {
        border-left: solid @base-red 3px;
        font-size: 0.16rem;
        color: #333;
        span {
          margin-left: 5px;
        }
      }
    }
  }

}