<!doctype html>
<!-- ng-strict-di -->
<html lang="en" ng-app='airsc'>

<head>
  <meta charset="utf-8" />
  <meta name="description" content="IOT,M2M,MQTT,HNA" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="theme-color" content="#2196f3">
  <title>空中社区 - Air Community</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="icon" type="image/x-icon" href="images/favicon.ico?v=0.1.0" />
  <!--
    <link rel="icon" href="_/img/favicon.png">
    <link rel="icon" href="http://sstatic.net/so/favicon.ico">
    <link rel="apple-itouch-icon" href="http://sstatic.net/so/apple-touch-icon.png">
    -->
  <!-- build:css({tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
  <style>[ng-cloak] {display: none;}</style>
  <style>
    .page-loading {
      display: none;
      position: absolute;
      z-index: 22222;
      height: 100%;
      width: 100%;
      background-color: #fff;
    }

    .page-loading img {
      width: 120px;
      height: 120px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -60px;
      margin-top: -60px;
    }
  </style>
</head>
<body ng-controller="mainController" ng-cloak>
  <div class="page-loading">
    <img src="assets/images/loading.gif">
  </div>
  <!-- Status bar overlay for fullscreen mode-->
  <div class="statusbar-overlay"></div>
  <!-- Panels overlay-->
  <div class="panel-overlay"></div>
  <!-- Left panel with reveal effect-->
  <div class="panel panel-left panel-reveal panel-bg-color">
    <div class="content-block-title">空中社区 - Air Community</div>
    <div class="list-block accordion-list">
      <ul class="personal-information">
        <li class="accordion-item" ng-repeat="item in leftPanelItems">
          <a href="#" class="item-link item-content">
            <div class="item-inner">
              <div class="item-title">{{item.title}}<span class="item-subtitle">{{item.subtitle}}</span></div>
            </div>
          </a>
          <div class="accordion-item-content">
            <div class="list-block">
              <ul>
                <li ng-repeat="jtem in item.items">
                  <a href class="item-link close-panel" ng-click="gotoItemAction(jtem)">
                    <div class="item-content">
                      <div class="item-media"><i class="icon"></i></div>
                      <div class="item-inner">
                        <div class="item-title">{{jtem.title}}</div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- Right panel with cover effect-->
  <div class="panel panel-right panel-cover panel-bg-color">
    <div class="content-block-title">个人信息</div>
    <div class="list-block">
      <ul class="personal-information">
        <li>
          <a href class="item-link close-panel" ng-click="gotoItemAction(rightUserItem)">
            <div class="item-content">
              <div class="item-media"><i class="f7-icons">person</i></div>
              <div class="item-inner">
                <div class="item-title">{{rightUserItem.title}}</div>
              </div>
            </div>
          </a>
        </li>
        <li ng-repeat="item in rightPanelItems track by $index" ng-hide="item.target === 'out' && !islogin">
          <a href class="item-link close-panel" ng-click="gotoItemAction(item)">
            <div class="item-content">
              <div class="item-media"><i class="f7-icons">{{item.icon}}</i></div>
              <div class="item-inner">
                <div class="item-title">{{item.title | translate}}</div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Views-->
  <div class="views" ng-cloak>
    <div class="view view-main">
      <!-- Top Navbar-->
      <div class="navbar">
        <div class="navbar-inner">
          <div class="left">
            <a href="#" data-panel="left" class="link icon-only open-panel"> <i class="icon f7-icons">bars</i></a>
          </div>
          <div class="center sliding nav-title">空中社区 - Air Community</div>
          <div class="right">
            <a href="#" data-panel="right" class="link icon-only open-panel"> <i class="icon icon-user"></i></a>
          </div>
        </div>
      </div>
      <div class="pages navbar-through">
        <div data-page="index" class="page index-page">
          <div class="page-content">
            <a ng-if="false" href="#" data-popup=".popup-search" class="open-popup">
              <div class="index-search"><i class="fa fa-search"></i>
                <input type="text" placeholder="大家都在搜五一飞跃海峡航线"></input>
              </div>
            </a>
            <div class="swiper-container swiper-init" data-speed="400" data-autoplay="3000" data-observer="true" data-observe-parents="true" data-pagination=".swiper-pagination">
              <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="pic in imgSrc track by $index"><img ng-src="{{pic}}"></div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="content-block">
              <div class="row index-nav">
                <div class="col-25 bg-white text-center">
                  <a href="app/components/airjet/airjet.html"><img src="assets/images/index/AirJet.svg">
                    <br>{{'home.airjetZH' | translate}}
                    <br>{{'home.airjet' | translate}}</a>
                </div>
                <div class="col-25 bg-white text-center">
                  <a href="app/components/airtaxi/airtaxi.html"><img src="assets/images/index/AirTaxi.svg">
                    <br>{{'home.airtaxiZH' | translate}}
                    <br>{{'home.airtaxi' | translate}}</a>
                </div>
                <div class="col-25 bg-white text-center word-break">
                  <a href="app/components/airtransportation/airtrans.html?tabActive=tab1"><img src="assets/images/index/AirTransportation.svg">
                    <br>{{'home.airtourZH' | translate}}
                    <br>{{'home.airtour' | translate}}</a>
                </div>
                <div class="col-25 bg-white text-center">
                  <a href="app/components/airtrain/airtrain.html"><img src="assets/images/index/AirTranning.svg">
                    <br>{{'home.airtrainZH' | translate}}
                    <br>{{'home.airtrain' | translate}}</a>
                </div>
              </div>
            </div>
            <div class="index-news">
              <div class="content-line"></div>
              <div class="news-box clearfix" ng-click="gotoAirbbLinkAction()">
                <div class="news-img pull-left">
                  <a href="{{airbbLink}}" class="external"><img src="assets/images/index/AirQuest.svg"></a>
                </div>
                <div class="news-text-box pull-right">
                  <ul class="news-text" auto-text>
                    <li ng-repeat="news in listNews track by $index">
                      <a href="{{airbbLink}}" class="external">#{{news.title}}#</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <h2 class="bottom-title">{{'home.indexTitle' | translate}}<i></i>{{'home.indexTitleLow' | translate}}</h2>
            <div class="pro-content clearfix">
              <a href="app/components/airtransportation/airtrans.html?departure=徐闻,美兰机场&tabActive=tab1">
                <div class="pro-list">
                  <div class="list-top">
                    <h6>[特价航线]</h6>
                    <p>2017-5-1</p>
                  </div>
                  <div class="list-bottom">
                    <div>徐闻湛江机场<i class="arrow-right"></i>海口美兰机场</div>
                    <p>¥ 900 /人</p>
                  </div>
                </div>
              </a>
              <a href="app/components/airtaxi/project-details.html?tourId=7f000101-5b89-1f60-815b-8a075c0f0003">
                <div class="pro-list">
                  <div class="list-top">
                    <h6>[五一观光]</h6>
                    <p>2017-5-1</p>
                  </div>
                  <div class="list-bottom">
                    <div>鸟巢水立方空中游览</div>
                    <p>¥ 1588 /人</p>
                  </div>
                </div>
              </a>
              <a href="app/components/airtrain/course-detail.html?id=7f000101-5b8a-1e15-815b-8a4dda99000c">
                <div class="pro-list">
                  <div class="list-top">
                    <h6>[飞行员招聘]</h6>
                    <p>2017-5-1</p>
                  </div>
                  <div class="list-bottom">
                    <div>海南航空 固定翼私照一期学院招募</div>
                    <p>¥ 20万</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--&lt;!&ndash; Bottom Toolbar&ndash;&gt;-->
      <!--<div class="toolbar">-->
      <!--<div class="toolbar-inner"><a href="#" class="link">Link 1</a><a href="#" class="link">Link 2</a></div>-->
      <!--</div>-->
    </div>
  </div>
  <div class="popup popup-search" style="display: none;">
    <div class="view">
      <div class="pages">
        <div class="page navbar-fixed">
          <div class="navbar">
            <div class="navbar-inner">
              <form class="searchbar searchbar-active">
                <div class="searchbar-input">
                  <input type="search" placeholder="Search" class=""><a href="#" class="close-popup"><i class="fa fa-close"></i></a>
                  <div class="preloader preloader-white" style="display: none;"><span class="preloader-inner"><span class="preloader-inner-gap"></span><span class="preloader-inner-left"><span class="preloader-inner-half-circle"></span></span><span class="preloader-inner-right"><span class="preloader-inner-half-circle"></span></span>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="page-content">
            <div class="list-block">
              <ul class="search-results"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
//    function loadScript(src) {
//      return new Promise(function (resolve, reject) {
//        var s;
//        s = document.createElement('script');
//        s.src = src;
//        s.onload = resolve;
//        s.onerror = reject;
//        document.head.appendChild(s);
//      });
//    }
//    loadScript('http://api.map.baidu.com/api?v=2.0&ak=uZ6QZYpe6GUT2wTjBvLrEDx8wlZaMOmu&callback=mapCallback').then(function (res) {
//      return loadScript('http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js');
//    }).then(function () {
//
//    });
  </script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=uZ6QZYpe6GUT2wTjBvLrEDx8wlZaMOmu"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js"></script>
  <!-- build:js(src) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- run `gulp inject` to automatically populate bower script dependencies -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({tmp/serve,tmp/partials,src}) scripts/app.js -->
  <!-- inject:js -->
  <!-- js files will be automatically insert here -->
  <!-- endinject -->
  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->
</body>
</html>
