<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner airtaxi-navbar">
        <div class="left">
            <a href="#" class="back link"> &nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a>
        </div>
        <div class="center sliding">Air Transportation</div>
        <div class="right">
            <a href="#" data-panel="right" class="link icon-only open-panel"><i class="icon icon-user"></i></a>
        </div>

    </div>
</div>
<div class="pages navbar-through">

    <!-- Page, data-page contains page name-->
    <div data-page="airtrans" class="page with-subnavbar" ng-controller="transController as trans">
        <div class="subnavbar airtaxi-subnavbar">
            <div class="buttons-row air-tabs airtaxi-nav">
                <a href="#air-taxi-cross-channel" class="tab-link" ng-class="{'active': tabActive === 'tab1'}"><span>飞越海峡</span></a>
                <a href="#mongolia-routes" class="tab-link" ng-class="{'active': tabActive === 'tab2'}"><span>内蒙航线</span></a>
            </div>
        </div>
        <!-- Scrollable page content-->
        <div class="page-content hide-navbar-on-scroll">
          <div class="tabs">
            <div id="air-taxi-cross-channel" class="tab" ng-class="{'active': tabActive === 'tab1'}">
              <div class="content-block">
                  <!-- map area -->
                  <div class="map">
                      <div class="airtrans-map-view" id="airtrans-map-view-channel"></div>
                  </div>
                  <!-- schedule cards list -->
                  <div class="schedule-card-list">
                      <ul>
                          <li ng-repeat="schedule in schedules">
                              <!-- schedule card starts -->
                              <div class="schedule-card">
                                  <a href="#" class="pull-right add-schedule-button" ng-click="trans.addSchedule()" ng-hide="true">
                                      <i class="f7-icons">add_round_fill</i>
                                  </a>
                                  <div class="schedule-title" ng-hide="true">行程{{ schedules.length - $index }}
                                      <a class="fa fa-trash-o button-schedule-delete" ng-click="trans.deleteSchedule(schedule)"></a>
                                  </div>
                                  <div class="list-block schedule-content">
                                      <!-- departure and arrival -->
                                      <div class="row">
                                          <div class="field-block departure-city col-50">
                                              <a href="#" class="item-link smart-select" data-open-in="picker" data-back-text="&nbsp;">
                                                <select name="departure" ng-model="schedule.departure" ng-disabled="$index != 0">
                                                  <option value="" selected>选择出发地</option>
                                                  <option value="{{ city }}" ng-repeat="city in trans.departures(routes)">{{ city }}</option>
                                                </select>
                                              <div class="item-content">
                                                <div class="item-inner">
                                                  <div class="item-title">起飞点</div>
                                                  <div class="item-after smart-select-value">{{ schedule.departure || "选择出发地"}}</div>
                                                </div>
                                              </div>
                                              </a>
                                          </div>
                                          <div class="field-block arrival-city col-50">
                                              <a href="#" class="item-link smart-select" data-open-in="picker" data-back-text="&nbsp;">
                                                <select name="arrival" ng-model="schedule.arrival" ng-disabled="$index != 0">
                                                  <option value="" selected>选择到达地</option>
                                                  <option value="{{ city }}" ng-repeat="city in trans.arrivals(routes, schedule.departure)">{{ city }}</option>
                                                </select>
                                                  <div class="item-content">
                                                      <div class="item-inner">
                                                          <div class="item-title">降落点</div>
                                                          <div class="item-after smart-select-value">{{ schedule.arrival || "选择到达地" }}</div>
                                                      </div>
                                                  </div>
                                              </a>
                                          </div>
                                      </div>
                                      <!-- date and time -->
                                      <div class="row">
                                          <div class="field-block col-50">
                                            <a href="#" class="item-link">
                                              <div class="item-content">
                                                  <div class="item-inner">
                                                      <div class="item-title airtaxi-select-label">选择日期</div>
                                                      <div class="item-input item-after">
                                                          <input type="text" placeholder="选择日期" readonly
                                                          id="airtrans-schedule-datepicker-{{$index}}" class="airtrans-schedule-dateinput taxi-input-date" ng-model="schedule.date" ng-disabled="$index != 0">
                                                      </div>
                                                  </div>
                                              </div>
                                            </a>
                                          </div>
                                          <div class="field-block col-50">
                                              <a href="#" class="item-link smart-select" data-open-in="picker" data-back-text="&nbsp;">
                                                  <select name="time" ng-model="schedule.time"
                                                          ng-options="slot for slot in trans.timeSlots()"
                                                          ng-disabled="$index != 0">
                                                    <option value="" selected>选择时间段</option>
                                                  </select>
                                                  <div class="item-content">
                                                      <div class="item-inner">
                                                          <div class="item-title">选择时间段</div>
                                                          <div class="item-after smart-select-value">{{schedule.time || "选择时间段"}}</div>
                                                      </div>
                                                  </div>
                                              </a>
                                          </div>
                                      </div>
                                      <!-- flight select -->
                                      <div class="row">
                                        <div class="field-block">
                                          <a href="#" class="item-link" ng-disabled="$index != 0" ng-click="trans.selectFlight(schedule)">
                                            <div class="item-content">
                                              <div class="item-inner row">
                                                <div class="item-title select-flight-label col-50">选择机型</div>
                                                <div class="item-after select-flight col-50">
                                                  {{ schedule.flight || "选择机型" }}
                                                </div>
                                              </div>
                                            </div>
                                          </a>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- schedule card ends -->
                          </li>
                      </ul>
                      <div class="footer-button">
                          <a href="#" class="button button-red start-flight" ng-click="trans.submitSchedules()">立即预订</a>
                      </div>
                  </div>
              </div>
            </div>
            <div id="mongolia-routes" class="tab" ng-class="{'active': tabActive === 'tab2'}">
                <div class="content-block">
                  <!-- map area -->
                  <div class="map">
                      <div class="airtrans-map-view" id="airtrans-map-view-mongolia"></div>
                  </div>
                  <!-- schedule cards list -->
                  <div class="schedule-card-list">
                      <ul>
                          <li ng-repeat="schedule in schedules">
                              <!-- schedule card starts -->
                              <div class="schedule-card">
                                  <a href="#" class="pull-right add-schedule-button" ng-click="trans.addSchedule()" ng-hide="true">
                                      <i class="f7-icons">add_round_fill</i>
                                  </a>
                                  <div class="schedule-title" ng-hide="true">行程{{ schedules.length - $index }}
                                      <a class="fa fa-trash-o button-schedule-delete" ng-click="trans.deleteSchedule(schedule)"></a>
                                  </div>
                                  <div class="list-block schedule-content">
                                      <!-- departure and arrival -->
                                      <div class="row">
                                          <div class="field-block departure-city col-50">
                                              <a href="#" class="item-link smart-select" data-open-in="picker" data-back-text="&nbsp;">
                                                <select name="departure" ng-model="schedule.departure" ng-disabled="$index != 0">
                                                  <option value="" selected>选择出发地</option>
                                                  <option value="{{ city }}" ng-repeat="city in trans.departures(routes)">{{ city }}</option>
                                                </select>
                                              <div class="item-content">
                                                <div class="item-inner">
                                                  <div class="item-title">起飞点</div>
                                                  <div class="item-after smart-select-value">{{ schedule.departure || "选择出发地"}}</div>
                                                </div>
                                              </div>
                                              </a>
                                          </div>
                                          <div class="field-block arrival-city col-50">
                                              <a href="#" class="item-link smart-select" data-open-in="picker" data-back-text="&nbsp;">
                                                <select name="arrival" ng-model="schedule.arrival" ng-disabled="$index != 0">
                                                  <option value="" selected>选择到达地</option>
                                                  <option value="{{ city }}" ng-repeat="city in trans.arrivals(routes, schedule.departure)">{{ city }}</option>
                                                </select>
                                                  <div class="item-content">
                                                      <div class="item-inner">
                                                          <div class="item-title">降落点</div>
                                                          <div class="item-after smart-select-value">{{ schedule.arrival || "选择到达地" }}</div>
                                                      </div>
                                                  </div>
                                              </a>
                                          </div>
                                      </div>
                                      <!-- date and time -->
                                      <div class="row">
                                          <div class="field-block col-50">
                                            <a href="#" class="item-link">
                                              <div class="item-content">
                                                  <div class="item-inner">
                                                      <div class="item-title airtaxi-select-label">选择日期</div>
                                                      <div class="item-input item-after">
                                                          <input type="text" placeholder="选择日期" readonly
                                                          id="airtrans-schedule-datepicker-{{$index}}" class="airtrans-schedule-dateinput" ng-model="schedule.date" ng-disabled="$index != 0">
                                                      </div>
                                                  </div>
                                              </div>
                                            </a>
                                          </div>
                                          <div class="field-block col-50">
                                              <a href="#" class="item-link smart-select" data-open-in="picker" data-back-text="&nbsp;">
                                                  <select name="time" ng-model="schedule.time"
                                                          ng-options="slot for slot in trans.timeSlots()"
                                                          ng-disabled="$index != 0">
                                                    <option value="" selected>选择时间段</option>
                                                  </select>
                                                  <div class="item-content">
                                                      <div class="item-inner">
                                                          <div class="item-title">选择时间段</div>
                                                          <div class="item-after smart-select-value">{{schedule.time || "选择时间段"}}</div>
                                                      </div>
                                                  </div>
                                              </a>
                                          </div>
                                      </div>
                                      <!-- flight select -->
                                      <div class="row">
                                        <div class="field-block">
                                          <a href="#" class="item-link" ng-disabled="$index != 0" ng-click="trans.selectFlight(schedule)">
                                            <div class="item-content">
                                              <div class="item-inner row">
                                                <div class="item-title select-flight-label col-50">选择机型</div>
                                                <div class="item-after select-flight col-50">
                                                  {{ schedule.flight || "选择机型" }}
                                                </div>
                                              </div>
                                            </div>
                                          </a>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- schedule card ends -->
                          </li>
                      </ul>
                      <div class="footer-button">
                          <a href="#" class="button button-red start-flight" ng-click="trans.submitSchedules()">立即预订</a>
                      </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
