
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner planes-navbar">
        <div class="left">
          <a href="#" class="back link"> &nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a>
        </div>
        <div class="center sliding">机型选择</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="airtransplanes" class="page" ng-controller="planesController as ctl">
        <!-- Scrollable page content-->
        <div class="page-content">
          <div class="tabs">
              <div id="planes-selection" class="tab active">
                <div class="content-block">
                  <div class="list-block">
                   <div class="planes-list-view">
                     <ul class="planes-list">
                       <li class="placeholder plane-discription">无可用机型信息</li>
                       <li class="plane-discription" ng-repeat="plane in ctl.aircrafts"
                       ng-click="ctl.select(plane, $event)" ng-class="{'active' : plane == ctl.planeSelected}">
                         <label class="label-checkbox checkbox-circle item-content">
                             <input type="radio" name="plane-select" ng-checked="plane === ctl.planeSelected">
                             <div class="item-media">
                                 <i class="icon icon-form-checkbox"></i>
                             </div>
                         </label>
                         <div class="card">
                           <div class="card-header">
                             <img ng-src="{{ plane.aircraft.image }}" alt="">
                           </div>
                           <div class="card-content">
                             <div class="card-content-inner">
                               <div class="plane-price-info row">
                                 <span class="plane-name">{{ plane.aircraft.name }}</span>
                                   <a class="view-detail">查看详情</a>
                                 <!--<span class="plane-price">整机<span class="price-value">{{ plane.price | RMB }}</span></span>-->
                                 <!--<span class="plane-price">拼座<span class="price-value">{{ plane.seatPrice | RMB }}</span></span>-->
                               </div>
                             </div>
                           </div>
                           <div class="card-footer">
                               <span class="plane-price">整机<span class="price-value">{{ plane.price | RMB }}</span></span>
                               <span class="plane-price">拼座<span class="price-value">{{ plane.seatPrice | RMB }}</span><span class="plane-notice">(至少 {{ plane.aircraft.minPassengers }} 人预定)</span></span>
                             <!--<span class="departure-info"><img src="assets/images/airplane.svg" alt=""> ~{{ ctl.getEstimationTime(plane) }}</span>-->
                             <!--<span class="plane-capacity"><img src="assets/images/airseat.svg" alt=""> {{ plane.aircraft.seats }}</span>-->
                             <!--<span class="plane-notice">(至少 {{ plane.aircraft.minPassengers }} 人预定)</span>-->
                           </div>
                         </div>
                       </li>
                     </ul>
                   </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>
