<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
    <div class="center sliding">Air Jet</div>
    <div class="right">
        <a href="#" data-panel="right" class="link icon-only open-panel"> <i class="icon icon-user"></i></a>
    </div>
  </div>
</div>
<div data-page="airjet" class="page" ng-controller="jetController">
    <div class="page-content">
        <div class="buttons-row air-tabs">
            <!-- Link to 1st tab, active -->
            <a href="#tab1" class="tab-link active"><span>{{'airjet.travel-plan' | translate}}</span></a>
            <!-- Link to 2nd tab -->
            <a href="#tab2" class="tab-link"><span>{{'airjet.dream-flying' | translate}}</span></a>
            <!-- Link to 3rd tab -->
            <a href="#tab3" class="tab-link"><span>{{'airjet.card-products' | translate}}</span></a>
        </div>
        <div class="tabs">
            <!-- Tab 1, active by default -->
            <div id="tab1" class="tab active">
                <div class="travel-plan-content">
                    <div class="travel-plan-card" ng-repeat="item in travelStrokeList track by $index">
                        <div class="tpc-top">
                            <em>{{'airjet.stroke' | translate}}<span ng-bind="$index + 1 | chinanum"></span></em>
                            <img src="assets/images/travel/btn_delete.svg" ng-hide="$index === 0" ng-click="removeCard($index)">
                        </div>
                        <div class="tpc-bottom">
                            <div class="tpcb-top">
                                <div class="tpcbt-city">
                                    <em>{{'airjet.departure' | translate}}</em>
                                    <div class="tpcbt-select">
                                        <a href="#" class="item-link smart-select" data-searchbar="true" data-searchbar-placeholder="Search City">
                                            <select ng-model="item.departure">
                                                <option value="{{'airjet.select' | translate}}" selected>{{'airjet.select' | translate}}</option>
                                                <option ng-repeat="opts in cityList track by $index" value="{{opts.name}}" ng-bind="opts.name"></option>
                                            </select>
                                            <div class="item-content">
                                                <div class="item-after" ng-bind="item.departure"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="tpcbt-arrow" ng-click="reversal(item, $index)">
                                    <img src="assets/images/travel/icon_swap.svg">
                                </div>
                                <div class="tpcbt-city">
                                    <em>{{'airjet.destination' | translate}}</em>
                                    <div class="tpcbt-select">
                                        <a href="#" class="item-link smart-select" data-searchbar="true" data-searchbar-placeholder="Search City">
                                            <select ng-model="item.destination">
                                                <option value="{{'airjet.select' | translate}}" selected>{{'airjet.select' | translate}}</option>
                                                <option ng-repeat="opts in cityList track by $index" value="{{opts.name}}" ng-bind="opts.name"></option>
                                            </select>
                                            <div class="item-content">
                                                <div class="item-after" ng-bind="item.destination"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="tpcb-bottom">
                                <div class="tpcbb-time fa">
                                    <label>
                                        {{'airjet.start-time' | translate}}
                                        <input type="text" ng-focus="datepicter('datepicter', $index)" class="datepicter{{$index}}" placeholder="yyyy-mm-dd" ng-model="item.startTime">
                                    </label>
                                </div>
                                <div class="tpcbb-guest">
                                    <label>
                                        {{'airjet.guest-count' | translate}}
                                        <input type="text" placeholder="{{'airjet.enter' | translate}}" ng-model="item.guestStart">
                                    </label>
                                </div>
                                <div class="tpcbb-back" ng-show="!item.round" ng-click="item.round = !item.round">
                                    <label class="label-checkbox checkbox-circle item-content">
                                        <input type="checkbox" name="my-checkbox" ng-model="item.round" checked="checked">
                                        <div class="item-media">
                                        <i class="icon icon-form-checkbox"></i>
                                        <em class="item-title">{{'airjet.round-trip' | translate}}</em>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="tpc-bottom" ng-show="item.round">
                            <div class="tpcb-top">
                                <div class="tpcbt-city">
                                    <em>{{'airjet.departure' | translate}}</em>
                                    <div class="tpcbt-select">
                                        <a href="#" class="item-link smart-select" data-searchbar="true" data-searchbar-placeholder="Search City">
                                            <select ng-model="item.destination">
                                                <option value="{{'airjet.select' | translate}}">{{'airjet.select' | translate}}</option>
                                                <option ng-repeat="opts in cityList track by $index" value="{{opts.name}}" ng-bind="opts.name"></option>
                                            </select>
                                            <div class="item-content">
                                                <div class="item-after" ng-bind="item.destination"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="tpcbt-arrow" ng-click="reversal(item, $index)">
                                    <img src="assets/images/travel/icon_swap.svg">
                                </div>
                                <div class="tpcbt-city">
                                    <em>{{'airjet.destination' | translate}}</em>
                                    <div class="tpcbt-select">
                                        <a href="#" class="item-link smart-select" data-searchbar="true" data-searchbar-placeholder="Search City">
                                            <select ng-model="item.departure">
                                                <option value="{{'airjet.select' | translate}}">{{'airjet.select' | translate}}</option>
                                                <option ng-repeat="opts in cityList track by $index" value="{{opts.name}}" ng-bind="opts.name"></option>
                                            </select>
                                            <div class="item-content">
                                                <div class="item-after" ng-bind="item.departure"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="tpcb-bottom">
                                <div class="tpcbb-time fa">
                                    <label>
                                        {{'airjet.start-time' | translate}}
                                        <input type="text" ng-click="datepicter('anti-datepicter', $index)" class="anti-datepicter{{$index}}" placeholder="yyyy-mm-dd" ng-model="item.endTime">
                                    </label>
                                </div>
                                <div class="tpcbb-guest">
                                    <label>
                                        {{'airjet.guest-count' | translate}}
                                        <input type="text" placeholder="{{'airjet.enter' | translate}}" ng-model="item.guestEnd">
                                    </label>
                                </div>
                                <div class="tpcbb-back" ng-click="item.round = !item.round">
                                    <label class="label-checkbox checkbox-circle item-content">
                                        <input type="checkbox" name="my-checkbox" ng-model="item.round" checked="checked">
                                        <div class="item-media">
                                        <i class="icon icon-form-checkbox"></i>
                                        <em class="item-title">{{'airjet.round-trip' | translate}}</em>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="travel-plan-add" ng-click="addCard()">
                        <img src="assets/images/travel/icon_add_trip.svg">
                        <span>{{'airjet.add-trip' | translate}}</span>
                    </div>
                    
                </div>
                <div class="travel-plan-button">
                    <div class="tpb-recommend">
                        <div class="tpbr-top">
                            <img src="assets/images/travel/icon_trip_recommend.svg">
                            <span>{{'airjet.stroke-recommend' | translate}}</span>
                        </div>
                        <div class="tpbr-middle">
                            <div class="tpbrm-item" ng-repeat="rec in recommendList track by $index">
                                <div class="tpbrmi-left">
                                    <span ng-bind="rec.departure"></span>
                                    <div class="arrow-right"></div>
                                    <span ng-bind="rec.destination"></span>
                                </div>
                                <div class="tpbrmi-right">
                                    <em ng-bind="rec.money"></em>
                                    <span>{{'airjet.from' | translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="tpbr-bottom">
                            <a ng-click="quickSubmit(travelStrokeList)" class="tpb-submit">{{'airjet.release' | translate}}</a>
                            <a ng-click="slowSubmit(travelStrokeList)" class="tpb-model">{{'airjet.model-custom' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tab 2 -->
            <div id="tab2" class="tab">
                <div class="dream-flying-content">
                    <a class="dream-flying-item" ng-repeat="item in dreamFlyList track by $index" href="app/components/airjet/dream-inner.html?id={{item.id}}">
                        <div class="dfi-left">
                            <div class="dfi-top">
                                <div class="dreaam-flying-date" ng-bind="item.createTime | date:'yyyy年MM月dd日 EEE' | chinaweek"></div>
                                <div class="dreaam-flying-logo">
                                    <img src="assets/images/logo.png" alt="logo">
                                </div>
                            </div>
                            <div class="dfi-middle">
                                <div class="dfim-left">
                                    <strong class="dfim-address" ng-bind="item.departure"></strong>
                                    <span class="dfim-time" ng-bind="item.startTime"></span>
                                </div>
                                <div class="dfim-center">
                                    <div class="arrow-right"></div>
                                </div>
                                <div class="dfim-right">
                                    <strong class="dfim-address" ng-bind="item.destination"></strong>
                                    <span class="dfim-time" ng-bind="item.endTime"></span>
                                </div>
                            </div>
                            <div class="dfi-bottom">
                                <p>
                                    <span>{{'airjet.model-number' | translate}}</span>
                                    <span ng-bind="item.model"></span>
                                </p>
                                <p>
                                    <span>{{'airjet.aircraft-number' | translate}}</span>
                                    <span ng-bind="item.aircraft"></span>
                                </p>
                            </div>
                        </div>
                        <div class="dfi-right">
                            <div class="guest-count">
                                {{'airjet.guest-number' | translate}}
                                <span ng-bind="item.guest"></span>
                            </div>
                            <div class="plane-item first">
                                <div class="plane">{{'airjet.machine' | translate}}</div>
                                <div class="plane-money" ng-bind="item.machine | RMB"></div>
                            </div>
                            <div class="plane-item last">
                                <div class="plane">{{'airjet.seat' | translate}}</div>
                                <div class="plane-money" ng-bind="item.seat | RMB"></div>
                            </div>
                            <div class="plane-require">{{'airjet.least' | translate:item.least}}</div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Tab 3 -->
            <div id="tab3" class="tab">
                <div class="card air-card air-card-level-1">
                    <a href="app/components/airjet/tour-detail.html">
                        <div class="card-header">
                            <span>金鹿 FBO</span>
                            <div class="action">
                                <span>咨询购买</span>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                        <div class="card-content">铂金卡</div>
                        <div class="card-footer">
                            <span>Platinum Card</span>
                            <span>RMB 1,000,000</span>
                        </div>
                    </a>
                </div>
                <div class="card air-card air-card-level-2">
                    <div class="card-header">
                        <span>金鹿 FBO</span>
                        <div class="action">
                            <span>咨询购买</span>
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="card-content">钻石卡</div>
                    <div class="card-footer">
                        <span>Diamond Card</span>
                        <span>USD 1,000</span>
                    </div>
                </div>
                <div class="card air-card air-card-level-3">
                    <div class="card-header">
                        <span>金鹿 FBO</span>
                        <div class="action">
                            <span>咨询购买</span>
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="card-content">尊享卡</div>
                    <div class="card-footer">
                        <span>Honor Card</span>
                        <span>RMB 5,00,000</span>
                    </div>
                </div>
                <div class="card air-card air-card-level-4">
                    <div class="card-header">
                        <span>金鹿 FBO</span>
                        <div class="action">
                            <span>咨询购买</span>
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="card-content">精英卡</div>
                    <div class="card-footer">
                        <span>Elite Card</span>
                        <span>RMB 5,00,000</span>
                    </div>
                </div>
                <div class="card air-card air-card-level-5">
                    <div class="card-header">
                        <span>金鹿 小时卡</span>
                        <div class="action">
                            <span>咨询购买</span>
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="card-content">
                        飞翔卡
                        <span>RMB 788,888</span>
                    </div>
                    <div class="card-footer">
                        <span>10小时专享按小时计费的公务机消费模式</span>
                    </div>
                </div>
                <div class="card air-card air-card-level-6">
                    <div class="card-header">
                        <span>金鹿 小时卡</span>
                        <div class="action">
                            <span>咨询购买</span>
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="card-content">
                        悠游卡
                        <span>RMB 1,958,888</span>
                    </div>
                    <div class="card-footer">
                        <span>25小时专享按小时计费的公务机消费模式</span>
                    </div>
                </div>
                <div class="card air-card air-card-level-7">
                    <div class="card-header">
                        <span>金鹿 小时卡</span>
                        <div class="action">
                            <span>咨询购买</span>
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="card-content">
                        翱翔卡
                        <span>RMB 3,868,888</span>
                    </div>
                    <div class="card-footer">
                        <span>50小时专享按小时计费的公务机消费模式</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
