
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>back</span></a></div>
        <div class="sliding">Air Jet</div>
        <div class="right">
            <a href="#" data-panel="right" class="link icon-only open-panel"> <i class="icon icon-user"></i></a>
        </div>

        <!-- Sub navbar -->
        <div class="subnavbar airjet-subnavbar">
            <a href="#tab1" class="col-33 active">旅行计划</a>
            <a href="#tab2" class="col-33">缘梦飞行</a>
            <a href="#tab3" class="col-33">卡产品</a>
            <!--<a href="#tab1" class="col-33 active">{{'airjet.travel-plan' | translate}}</a>
            <a href="#tab2" class="col-33">{{'airjet.dream-flying' | translate}}</a>
            <a href="#tab3" class="col-33">{{'airjet.card-service' | translate}}</a>-->
        </div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="airjet" class="page" ng-controller="jetController">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="dream-flying-content">
                <div class="dream-flying-item">
                    
                </div>
            </div>
            <div class="content-block">
                <div class="content-block-inner">
                    <p class="air-red">jet</p>
                    <p>Go <a href="#" class="back">back</a> or click  <a href="#" class="create-page">here </a>to create dynamic page.</p>
                    <p>Mauris posuere sit amet metus id venenatis. Ut ante dolor, tempor nec commodo rutrum, varius at sem. Nullam ac nisi non neque ornare pretium. Nulla mauris mauris, consequat et elementum sit amet, egestas sed orci. In hac habitasse platea dictumst.</p>
                    <p>Fusce eros lectus, accumsan eget mi vel, iaculis tincidunt felis. Nulla tincidunt pharetra sagittis. Fusce in felis eros. Nulla sit amet aliquam lorem, et gravida ipsum. Mauris consectetur nisl non sollicitudin tristique. Praesent vitae metus ac quam rhoncus mattis vel et nisi. Aenean aliquet, felis quis dignissim iaculis, lectus quam tincidunt ligula, et venenatis turpis risus sed lorem. Morbi eu metus elit. Ut vel diam dolor.</p>
                </div>
            </div>
        </div>
    </div>
</div>