<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" data-panel="left" class="back link"> &nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">订单详情</div>
    </div>
</div>

<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="dream-detail" class="page" ng-controller="dreamDetailController">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="air-order-detail">
                <div class="air-order-item">
                    {{'airjet.order-numver' | translate}}{{detailData.order}}
                </div>
                <div class="air-order-item">
                    {{'airjet.model-number' | translate}}{{detailData.model}}
                </div>
                <div class="air-order-item">
                    {{'airjet.plane-time' | translate}}{{detailData.date}}
                </div>
                <div class="air-order-item">
                    <div class="order-location-info">
                        <div ng-bind="detailData.startCity"></div>
                        <div ng-bind="detailData.startTime"></div>
                        <!--<div ng-bind="detailData.startLocal"></div>-->
                    </div>
                    <div class="arrow-right"></div>
                    <div class="order-location-info">
                        <div ng-bind="detailData.endCity"></div>
                        <div ng-bind="detailData.endTime"></div>
                        <!--<div ng-bind="detailData.endLocal"></div>-->
                    </div>
                </div>
                <div class="air-order-item">
                    {{'airjet.plane-people' | translate}}{{detailData.passenger}}人
                </div>
                <div class="air-order-item">
                    {{'airjet.remark' | translate}} {{detailData.remark || '无'}}
                </div>
                <div class="back-submit">
                    <a ng-click="submit(detailData)">{{'airjet.confirms' | translate}}</a>
                    <a href="index.html">{{'airjet.back-home' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>