<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>back</span></a></div>
        <div class="center sliding">订单详情</div>
    </div>
</div>

<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="dream-detail" class="page" ng-controller="dreamDetailController">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="air-order-detail">
                <div class="air-order-item">
                    订单编号: 993028364001
                </div>
                <div class="air-order-item">
                    机型号: 金鹿航空 BBJ-002
                </div>
                <div class="air-order-item">
                    乘机时间: 2017年04月07日 周六
                </div>
                <div class="air-order-item">
                    <div class="order-location-info">
                        <div>香港</div>
                        <div>13:00</div>
                        <div>首都机场T2航站楼</div>
                    </div>
                    <div class="arrow-right"></div>
                    <div class="order-location-info">
                        <div>北京</div>
                        <div>16:30</div>
                        <div>美兰机场</div>
                    </div>
                </div>
                <div class="air-order-item">
                    乘机人数: 3人
                </div>
                <div class="air-order-item">
                    备注: 无
                </div>
                <div class="order-submit">
                    确认
                </div>
            </div>
        </div>
    </div>
</div>