<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="icon icon-back"></i><span>back</span></a>
        </div>
        <div class="sliding">Air Jet</div>
        <div class="right">
            <a href="#" data-panel="right" class="link icon-only open-panel"> <i class="icon icon-user"></i></a>
        </div>

    </div>
</div>
<div data-page="dream-inner" class="page page-content air-dream-detail" ng-controller="jetController">
    <div class="swiper-container swiper-init" data-speed="400" data-space-between="40" data-autoplay="3000" data-pagination=".swiper-pagination">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="assets/images/banner0.jpg"></div>
            <div class="swiper-slide"><img src="assets/images/banner1.jpg"></div>
            <div class="swiper-slide"><img src="assets/images/banner0.jpg"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="air-info">
        <div class="air-info-header">
            <span ng-bind="dreamObj.createTime | date:'yyyy-MM-dd  HH:mma'"></span>
            <span>{{'airjet.guest-number' | translate}}<span ng-bind="dreamObj.guest"></span></span>
        </div>
        <div class="air-info-content">
            <div class="content-part">
                <div>
                    <div class="air-location" ng-bind="dreamObj.departure"></div>
                    <div class="air-date" ng-bind="dreamObj.startTime"></div>
                </div>
                <div class="arrow-right"></div>
                <div>
                    <div class="air-location" ng-bind="dreamObj.destination"></div>
                    <div class="air-date" ng-bind="dreamObj.endTime"></div>
                </div>
            </div>
            <div class="content-part">
                <div>
                    <span>{{'airjet.machine' | translate}}</span>
                    <span class="money" ng-bind="dreamObj.machine | RMB"></span>
                 </div>
                <div>
                    <span>{{'airjet.seat' | translate}}</span>
                    <span class="money" ng-bind="dreamObj.seat | RMB"></span>
                    <span>{{'airjet.least' | translate:dreamObj.least}}</span>
                </div>
            </div>
        </div>
        <div class="air-info-footer clearfix">
            <span>{{'airjet.model-number' | translate}}<span ng-bind="dreamObj.model"></span></span>
            <span>{{'airjet.aircraft-number' | translate}}<span ng-bind="dreamObj.aircraft"></span></span>
        </div>
        <div class="user-info">
            <div class="user-info-title">客户信息</div>
            <div class="form">
                <div class="form-group">
                    <label>姓名 :</label>
                    <input type="text" placeholder="请输入...">
                </div>
                <div class="form-group">
                    <label>电话 :</label>
                    <input type="text" placeholder="请输入...">
                </div>
                <div class="form-group">
                    <label>邮箱 :</label>
                    <input type="text" placeholder="请输入...">
                </div>
            </div>
        </div>
        <div class="company-name">
            <div class="form-group">
                <label>客户名称 :</label>
                <input type="text" placeholder="请输入企业或机构名称…">
            </div>

        </div>
        <div class="company-attention">
            <div class="form-group">
                <label>备注 :</label>
                <textarea type="text" placeholder="请输入备注…"></textarea>
            </div>
        </div>
        <div class="airjet-detail-form-footer"><input type="submit" value="提交"></div>
    </div>
</div>