<div class="navbar">
    <div class="navbar-inner">
       <div class="left"><a data-panel="left" class="back link"> &nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">产品详情</div>
    </div>
</div>
<div data-page="dream-inner" class="page air-dream-detail" ng-controller="dreamInnerController">
    <div class="page-content">
        <div class="swiper-container swiper-init" data-speed="400" data-autoplay="3000" data-observer="true" data-observe-parents="true"
            data-pagination=".swiper-pagination">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="pic in dreamImg track by $index"><img ng-src="{{pic}}"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="air-info">
            <div class="air-info-header">
                <img ng-src="{{dreamObj.vendor.avatar}}" alt="logo">
                <em>{{dreamObj.vendor.name}} {{dreamObj.flightNo}}</em>
                <a href="app/components/airjet/travel-plane-detail.html?flightno={{dreamObj.flightNo}}">{{'airjet.model' | translate}} <em ng-bind="dreamObj.aircraftType"></em> <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="air-info-content">
                <div class="content-top">
                    <em ng-bind="dreamObj.date | date:'yyyy-MM-dd'"></em>
                    <span>{{'airjet.guest-number' | translate}}<em ng-bind="dreamObj.seats"></em></span>
                </div>
                <div class="content-part">
                    <div>
                        <div class="air-location" ng-bind="dreamObj.departure"></div>
                        <div class="air-date" ng-bind="dreamObj.startTime"></div>
                    </div>
                    <div class="arrow-right"></div>
                    <div>
                        <div class="air-location" ng-bind="dreamObj.arrival"></div>
                        <div class="air-date" ng-bind="dreamObj.endTime"></div>
                    </div>
                </div>
            </div>
            <div class="air-info-footer">
                <div>
                    <span>{{'airjet.machine' | translate}}</span>&nbsp;
                    <span class="money" ng-bind="dreamObj.price | RMB"></span>
                </div>
                <div>
                    <span>{{'airjet.seat' | translate}}</span>&nbsp;
                    <span class="money" ng-bind="dreamObj.seatPrice | RMB"></span>
                    <span>{{'airjet.least' | translate:dreamObj.least}}</span>
                </div>
            </div>
            <div class="user-info">
                <div class="user-info-title clearfix">
                    <div class="pull-left">{{'airjet.guest-info' | translate}}</div>
                    <a href="tel:400-666-4388" class="pull-right">
                        <img src="assets/images/phone.png" alt="phone">
                        <span>{{'airjet.service' | translate}}</span>
                    </a>
                </div>
                <div class="form">
                    <div class="form-group">
                        <label>{{'airjet.name' | translate}}</label>
                        <input type="text" placeholder="{{'airjet.enter' | translate}}" ng-model="formData.name">
                    </div>
                    <div class="form-group">
                        <label>{{'airjet.phone' | translate}}</label>
                        <input type="text" placeholder="{{'airjet.enter' | translate}}" ng-model="formData.phone">
                    </div>
                    <div class="form-group">
                        <label>{{'airjet.email' | translate}}</label>
                        <input type="text" placeholder="{{'airjet.enter' | translate}}" ng-model="formData.email">
                    </div>
                </div>
            </div>
            <div class="company-name">
                <div class="form-group">
                    <label>{{'airjet.guest-count' | translate}}</label>
                    <input type="text" placeholder="{{'airjet.enter' | translate}}" ng-model="formData.guest">
                </div>

            </div>
            <div class="company-attention">
                <div class="form-group">
                    <label>{{'airjet.remark' | translate}}</label>
                    <textarea type="text" placeholder="{{'airjet.enter' | translate}}" ng-model="formData.remark"></textarea>
                </div>
            </div>
            <div class="order-detail-agreement">
                <i class="f7-icons ng-scope color-gray" ng-class="{'color-blue' : agreement}" ng-click="agreement = !agreement">{{ agreement ? 'check_round' : 'circle'}}</i>
                <span class="order-agree" ng-click="agreement = !agreement">我已同意</span>
                <span class="order-announce" ng-click="gotoAnnounceAction(1);$event.stopPropagation();">《Air Community免责条款》</span>
            </div>
            <div class="airjet-detail-form-footer"><input type="submit" value="{{'airjet.submit' | translate}}" ng-click="submit(formData)"></div>
        </div>
    </div>
</div>