<div class="navbar">
    <div class="navbar-inner">
        <div class="left"></div>
        <div class="center sliding">订单成功</div>
        <div class="right"></div>
    </div>
</div>
<div data-page="order-success" class="page" ng-controller="orderController">
    <div class="page-content">
        <div class="order-status-content">
            <img src="assets/images/travel/icon_success.svg" alt="success">
            <div>{{'airjet.order-submit' | translate}}</div>
            <div>{{'airjet.service-later' | translate}}</div>
            <div class="back-submit">
                <a href="app/components/airjet/travel-detail.html?order={{order}}">{{'airjet.look-order' | translate}}</a>
                <a href="index.html">{{'airjet.back-home' | translate}}</a>
            </div>
        </div>
    </div>
</div>