<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a class="back link"> &nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">咨询购买</div>
    </div>
</div>
<div data-page="airjet-detail" class="page" ng-controller="tourDetailController">
    <!-- Scrollable page content-->
    <div class="page-content">
        <div class="page-content-title">
            <div ng-bind="tourDetail.name"></div>
            <div><a class="link-tel" href="tel:400-666-4388"><i class="fa fa-phone"></i>{{'airjet.service' | translate}}</a></div>
        </div>
        <div class="card-info">
            <div ng-bind="tourDetail.type || tourDetail.type_cn"></div>
            <div ng-bind="tourDetail.money"></div>
        </div>
        <div class="card-detail">
            <div ng-bind="tourDetail.official"></div>
            <div ng-bind="tourDetail.hour"></div>

            <div class="padding-content" ng-repeat="item in tourDetail.feature track by $index">
                <h5 ng-bind="item.name"></h5>
                <div ng-repeat="p in item.value track by $index" ng-bind="p"></div>
            </div>
        </div>
        <form action="">
            <div class="user-info">
                <div class="user-info-title">{{'airjet.guest-info' | translate}}</div>
                <div class="form">
                    <div class="form-group">
                        <label>{{'airjet.name' | translate}}</label>
                        <input type="text" ng-model="tourData.name" placeholder="{{'airjet.enter' | translate}}">
                    </div>
                    <div class="form-group">
                        <label>{{'airjet.phone' | translate}}</label>
                        <input type="text" ng-model="tourData.phone" placeholder="{{'airjet.enter' | translate}}">
                    </div>
                    <div class="form-group">
                        <label>{{'airjet.email' | translate}}</label>
                        <input type="text" ng-model="tourData.email" placeholder="{{'airjet.enter' | translate}}">
                    </div>
                </div>
            </div>
            <div class="company-name">
                <div class="form-group">
                    <label>{{'airjet.guest-name' | translate}}</label>
                    <input type="text" ng-model="tourData.guest" placeholder="{{'airjet.guest-name-enter' | translate}}">
                </div>
            </div>
            <div class="airjet-detail-form-footer"><input type="button" ng-click="submit(tourData)" value="{{'airjet.submit' | translate}}"></div>
        </form>
    </div>
</div>