<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a class="back link"> &nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">咨询购买</div>
    </div>
</div>
<div data-page="airjet-detail" class="page" ng-controller="tourDetailController">
    <!-- Scrollable page content-->
    <div class="page-content">
        <div class="page-content-title">
            <div>{{tourDetail.vendor.name}} {{tourDetail.type}}</div>
            <div><a href="{{telephone}}" class="item-link external"><img src="assets/images/phone.png" alt="phone">{{'airjet.service' | translate}}</a></div>
        </div>
        <div class="card-info">
            <div ng-bind="tourDetail.name"></div>
            <div>{{tourDetail.currencyUnit | uppercase}}&nbsp;{{tourDetail.price}}</div>
        </div>
        <div class="card-detail">
             <p markdown-to-html="tourDetail.description || ''"></p>
        </div>
        <form>
            <div class="user-info">
                <div class="user-info-title">{{'airjet.guest-info' | translate}}</div>
                <div class="form">
                    <div class="form-group">
                        <label>{{'airjet.name' | translate}}</label>
                        <input type="text" ng-model="tourData.name" placeholder="{{'airjet.enter' | translate}}">
                    </div>
                    <div class="form-group">
                        <label>{{'airjet.phone' | translate}}</label>
                        <input type="text" ng-model="tourData.phone" placeholder="{{'airjet.enter' | translate}}">
                    </div>
                    <div class="form-group">
                        <label>{{'airjet.email' | translate}}</label>
                        <input type="text" ng-model="tourData.email" placeholder="{{'airjet.enter' | translate}}">
                    </div>
                </div>
            </div>
            <div class="company-name">
                <div class="form-group">
                    <label>{{'airjet.remark' | translate}}</label>
                    <textarea ng-model="tourData.remark" placeholder="{{'airjet.enter' | translate}}"></textarea>
                </div>
                <!--<div class="form-group">
                    <label>{{'airjet.guest-name' | translate}}</label>
                    <input type="text" ng-model="tourData.guest" placeholder="{{'airjet.guest-name-enter' | translate}}">
                </div>-->
            </div>
            <div class="order-detail-agreement">
                <i class="f7-icons ng-scope color-gray" ng-class="{'color-blue' : agreement}" ng-click="agreement = !agreement">{{ agreement ? 'check_round' : 'circle'}}</i>
                <span class="order-agree" ng-click="agreement = !agreement">我已同意</span>
                <span class="order-announce" ng-click="gotoAnnounceAction(1);$event.stopPropagation();">《Air Community免责条款》</span>
            </div>
            <div class="airjet-detail-form-footer"><input type="button" ng-disabled="!agreement" ng-click="submit(tourData, tourDetail.id)" value="{{'airjet.submit' | translate}}"></div>
        </form>
    </div>
</div>