<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a data-panel="left" class="link back"> &nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding">订单详情</div>
    </div>
</div>

<div class="pages">
    <div data-page="travel-detail" class="page" ng-controller="tourOrederController">
        <div class="page-content travel-detail-check">
            <div class="air-order-detail">
                <div class="air-order-item radius-top-bottom no-border">
                    <span class="pull-left">{{'airjet.order-numver' | translate}}{{detailData.orderNo}}</span>
                </div>
                <div class="air-order-item aoi-card radius-top">
                    <div>{{detailData.jetCard.vendor.name}} {{detailData.jetCard.type}}</div>
                    <div ng-bind="detailData.jetCard.summary"></div>
                </div>
                <div class="air-order-item aoi-card-info radius-bottom">
                    <div ng-bind="detailData.jetCard.name"></div>
                    <div>{{detailData.jetCard.currencyUnit | uppercase}}&nbsp;{{detailData.jetCard.price}}</div>
                </div>
                <div class="triangle-container">
                    <span class="triangle"></span>
                </div>
                <div class="air-order-item aoi-guest radius-top">
                    {{'airjet.guest-info' | translate}}
                </div>
                <div class="air-order-item aoi-guest-info radius-bottom">
                    <div>{{'airjet.name' | translate}} {{detailData.contact.person}}</div>
                    <div>{{'airjet.phone' | translate}} {{detailData.contact.mobile}}</div>
                    <div>{{'airjet.email' | translate}} {{detailData.contact.email}}</div>
                    <div>{{'airjet.remark' | translate}} {{detailData.note || '无'}}</div>
                </div>
            </div>
        </div>
    </div>
</div>