<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" data-panel="left" class="back link"> &nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a>
        </div>
        <div class="center sliding">填写客户信息</div>
    </div>
</div>

<div class="pages">
    <div data-page="travel-info" class="page" ng-controller="travelInfoController">
        <div class="page-content travel-info-write">
            <div class="list-block travel-info-content">
                <div class="tic-content">
                    <div class="ticc-title clearfix">
                        <div class="pull-left">{{'airjet.guest-info' | translate}}</div>
                        <a href="tel:400-666-4388" class="pull-right">
                            <img src="assets/images/phone.png" alt="phone">
                            <span>{{'airjet.service' | translate}}</span>
                        </a>
                    </div>
                    <div class="ticc-main">
                        <label class="ticcm-item">
                            <span>{{'airjet.name' | translate}}</span>
                            <input type="text" ng-model="infoData.name" placeholder="{{'airjet.enter' | translate}}">
                        </label>
                        <label class="ticcm-item">
                            <span>{{'airjet.phone' | translate}}</span>
                            <input type="text" ng-model="infoData.phone" placeholder="{{'airjet.enter' | translate}}">
                        </label>
                        <label class="ticcm-item">
                            <span>{{'airjet.email' | translate}}</span>
                            <input type="text" ng-model="infoData.email" placeholder="{{'airjet.enter' | translate}}">
                        </label>
                    </div>
                </div>
                <div class="tic-content">
                    <div class="ticc-main">
                        <label class="ticcm-item">
                            <span>{{'airjet.remark' | translate}}</span>
                            <textarea ng-model="infoData.remark" placeholder="{{'airjet.enter' | translate}}"></textarea>
                        </label>
                    </div>
                </div>
            </div>
            <div class="order-detail-agreement">
                <i class="f7-icons ng-scope color-gray" ng-class="{'color-blue' : agreement}" ng-click="agreement = !agreement">{{ agreement ? 'check_round' : 'circle'}}</i>
                <span class="order-agree" ng-click="agreement = !agreement">我已同意</span>
                <span class="order-announce" ng-click="gotoAnnounceAction(0);$event.stopPropagation();">《乘客安全须知》</span>
                <span class="order-agree-and" ng-click="agreement = !agreement">与</span>
                <span class="order-announce" ng-click="gotoAnnounceAction(1);$event.stopPropagation();">《免责声明》</span>
            </div>
            <div class="travel-model-submit block-center" ng-disabled="!agreement" ng-click="infoSubmit(infoData)">{{'airjet.submit' | translate}}</div>
        </div>
    </div>
</div>