<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" data-panel="left" class="back link"> <i class="icon icon-back"></i><span>back</span></a></div>
        <div class="center sliding">机型选择</div>
    </div>
</div>

<div class="pages">
    <div data-page="travel-model" class="page" ng-controller="jetController">
        <div class="page-content">
            <div class="travel-model-info block-center ">
                <em>!</em>
                <span>{{'airjet.model-custom-info' | translate}}</span>
            </div>
            <div class="travel-model-card">
                <div class="travel-model-img">
                    <img src="assets/images/model.png" alt="model">
                </div>
                <div class="travel-model-content">
                    <div class="travel-model-check">
                        <span>{{'airjet.model' | translate}} <em>湾流G550</em></span>
                        <label class="label-checkbox item-content">
                            <input type="checkbox" name="my-checkbox" ng-model="formData.round" checked="checked">
                            <div class="item-media">
                                <i class="icon icon-form-checkbox fa"></i>
                            </div>
                        </label>
                    </div>
                    <p class="travel-model-guest clearfix">
                        <span class="pull-left">{{'airjet.age' | translate}} <em>12.5年</em></span>
                        <span class="pull-right">{{'airjet.capacity' | translate}} <em>13~16人</em></span>
                    </p>
                    <p>
                      <span>{{'airjet.max-range' | translate}} <em>满油航程约11686公里</em></span>  
                    </p>
                    <p>
                      <span>{{'airjet.trunk' | translate}} <em>6.4立方米，相当于20个标准行李箱和4个标准纸箱。</em></span>  
                    </p>
                    <p>
                      <span>{{'airjet.fleet' | translate}} <em>湾流G550公务机是国际顶级远程喷气式公务机代表机型之一，是人类飞行史上首架直航范围能从纽约直达东京的超远程公务飞机，也是目前国内航程最远、性能最优、客舱最宽敞、舒适性最好的豪华公务机。</em></span>  
                    </p>
                </div>
            </div>
            <a href="app/components/airjet/travel-detail.html" class="item-link">
                <div class="travel-model-submit block-center">{{'airjet.confirm' | translate}}</div>
            </a>
        </div>
    </div>
</div>