<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" data-panel="left" class="back link"> &nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a>
        </div>
        <div class="center sliding">填写客户信息</div>
    </div>
</div>

<div class="pages">
    <div data-page="travel-info" class="page" ng-controller="travelInfoController">
        <div class="page-content travel-info-write">
            <div class="list-block travel-info-content">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">{{'airjet.name' | translate}}</div>
                                <div class="item-input">
                                    <input type="text" placeholder="{{'airjet.write' | translate}}">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">{{'airjet.phone' | translate}}</div>
                                <div class="item-input">
                                    <input type="text" placeholder="{{'airjet.write' | translate}}">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">{{'airjet.email' | translate}}</div>
                                <div class="item-input">
                                    <input type="text" placeholder="{{'airjet.write' | translate}}">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">{{'airjet.remark' | translate}}</div>
                                <div class="item-input">
                                    <input type="text" placeholder="{{'airjet.write' | translate}}">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="app/components/airjet/travel-detail.html">
                <div class="travel-model-submit block-center">{{'airjet.confirm' | translate}}</div>
            </a>
        </div>
    </div>
</div>