<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" data-panel="left" class="back link"> &nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding" id="plane-detail-title"></div>
        <div class="right"></div>
    </div>
</div>

<div class="pages">
    <div data-page="travel-plane-detail" class="page" ng-controller="travelPlaneController">
        <div class="page-content plane-detail">
            <div class="travel-model-card plane-detail-content">
                <div class="travel-model-img">
                    <div class="swiper-container swiper-init" data-observer="true" data-observe-parents="true" data-pagination=".swiper-pagination">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" ng-repeat="pic in imgSrc track by $index"><img ng-src="{{pic}}"></div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="travel-model-content">
                    <div class="plane-title">
                        <em ng-bind="planeDetail.name"></em>
                    </div>
                    <p class="travel-model-guest clearfix">
                        <span class="pull-left">{{'airjet.model' | translate}} <em ng-bind="planeDetail.model"></em></span>
                        <span class="pull-right">{{'airjet.plane-number' | translate}} <em ng-bind="planeDetail.type"></em></span>
                    </p>
                    <p class="travel-model-guest clearfix">
                        <span class="pull-left">{{'airjet.age' | translate}} <em ng-bind="planeDetail.age"></em></span>
                        <span class="pull-right">{{'airjet.capacity' | translate}} <em ng-bind="planeDetail.max"></em></span>
                    </p>
                    <p>
                      <span>{{'airjet.max-range' | translate}} <em ng-bind="planeDetail.range"></em></span>  
                    </p>
                    <p>
                      <span>{{'airjet.trunk' | translate}} <em ng-bind="planeDetail.trunk"></em></span>  
                    </p>
                    <p>
                      <span>{{'airjet.fleet' | translate}} <em ng-bind="planeDetail.fleet"></em></span>  
                    </p>
                    <p class="plane-tag clearfix">
                        <em class="tag" ng-repeat="tag in planeDetail.tags" ng-class="$index === planeDetail.tags.length - 1 ? 'tag-purple' : ''" ng-bind="tag"></em>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>