<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" data-panel="left" class="back link"> &nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding" id="plane-detail-title"></div>
        <div class="right"></div>
    </div>
</div>

<div class="pages">
    <div data-page="travel-plane-detail" class="page" ng-controller="travelPlaneController">
        <div class="page-content">
            <div class="plane-detail">
                <div class="plane-detail-content">
                    <div class="travel-model-img">
                        <div class="swiper-container swiper-init" data-observer="true" data-observe-parents="true" data-pagination=".swiper-pagination">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" ng-repeat="pic in appearances track by $index"><img ng-src="{{pic}}"></div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="travel-model-content">
                        <div class="plane-title clearfix">
                            <strong class="pull-left" ng-bind="planeDetail.name"></strong>
                            <span class="pull-right">{{'airjet.model' | translate}} <em ng-bind="planeDetail.aircraftType"></em></span>
                        </div>
                        <div class="plane-info">
                            <div class="plane-info-detail">
                                <div class="pid-top">
                                    <img src="assets/images/travel/icon_plane_black.svg" alt="plane">
                                    <em>{{'airjet.max-range' | translate}}</em>
                                </div>
                                <div class="pid-bottom">
                                    <em ng-bind="planeDetail.fullloadRange"></em>
                                </div>
                            </div>
                            <div class="plane-info-detail">
                                <div class="pid-top">
                                    <img src="assets/images/travel/icon_luggage_black.svg" alt="luggage">
                                    <em>{{'airjet.trunk' | translate}}</em>
                                </div>
                                <div class="pid-bottom">
                                    <em ng-bind="planeDetail.weight"></em>
                                </div>
                            </div>
                            <div class="plane-info-detail">
                                <div class="pid-top">
                                    <img src="assets/images/travel/icon_seat_black.svg" alt="seat">
                                    <em>{{'airjet.guest-num' | translate}}</em>
                                </div>
                                <div class="pid-bottom">
                                    <em ng-bind="planeDetail.capacity"></em>
                                </div>
                            </div>
                            <div class="plane-info-detail">
                                <div class="pid-top">
                                    <img src="assets/images/travel/icon_bed_black.svg" alt="bed">
                                    <em>{{'airjet.bed-num' | translate}}</em>
                                </div>
                                <div class="pid-bottom">
                                    <em ng-bind="planeDetail.beds"></em>
                                </div>
                            </div>
                        </div>
                        <p>
                            <strong>{{'airjet.fleet' | translate}}</strong>
                            <em ng-bind="planeDetail.description"></em>
                        </p>
                        <p>
                            <strong>{{'airjet.plane-device' | translate}}</strong>
                            <em ng-bind="planeDetail.facilities"></em>
                        </p>
                    </div>
                </div>
            </div>

            <!--评论-->
            <div class="infinite-scroll infinite-scroll-top comment-container">
                <div class="comment-title">
                    <i class="f7-icons icon">chats</i>
                    <span class="comment-text">评论</span>
                    <span class="comment-score">总评分
                        <span class="comment-number">{{score}}</span>
                    </span>
                </div>
                <div class="comment-none" ng-show="comments.length == 0">暂无评论</div>
                <div class="comment-list" ng-show="comments.length > 0">
                    <div class="list-block" ng-repeat="comment in comments">
                        <div class="comment-core">
                            <div class="comment-content">
                                <div class="inner-header">
                                    <div class="comment-avatar"><img ng-src="{{comment.owner.avatar}}" width="30" height="30"></div>
                                    <div class="comment-name">{{comment.owner.name}} <span class="pull-right comment-date">{{comment.date | date:'yyyy-MM-dd'}}</span></div>
                                    <div class="comment-star">
                                        <i class="f7-icons icon">{{comment.rate > 0 ? 'star_fill' : 'star'}}</i>
                                        <i class="f7-icons icon">{{comment.rate > 1 ? 'star_fill' : 'star'}}</i>
                                        <i class="f7-icons icon">{{comment.rate > 2 ? 'star_fill' : 'star'}}</i>
                                        <i class="f7-icons icon">{{comment.rate > 3 ? 'star_fill' : 'star'}}</i>
                                        <i class="f7-icons icon">{{comment.rate > 4 ? 'star_fill' : 'star'}}</i>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-comment">
                                <div class="comment-inner">
                                    {{comment.content}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-more" ng-show="!showMore">
                        <a href="#" class="item-link button" ng-click="showMoreCommentAction()">查看更多</a>
                    </div>
                    <!--加载提示符-->
                    <div class="infinite-scroll-preloader" ng-show="loading">
                        <div class="preloader"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>