<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" data-panel="left" class="back link"> <i class="icon icon-back"></i><span>back</span></a></div>
        <div class="center sliding">机型选择</div>
    </div>
</div>

<div class="pages">
    <div data-page="travel-model" class="page" ng-controller="jetController">
        <div class="page-content">
            <div class="travel-model-card">
                <div class="travel-model-img">
                    <img src="assets/images/model.png" alt="model">
                </div>
                <div class="travel-model-content">
                    <div class="travel-model-check">
                        <span><em>湾流G550</em></span>
                        <label class="label-checkbox checkbox-circle item-content">
                            <input type="checkbox" name="my-checkbox" ng-model="formData.round" checked="checked">
                            <div class="item-media">
                                <i class="icon icon-form-checkbox"></i>
                            </div>
                        </label>
                    </div>
                    <div class="travel-model-prompt">
                        <span class="pull-left">
                            <i class="fa fa-user"></i>
                            <em>16</em>
                        </span>
                        <span class="pull-left">
                            <i class="fa fa-suitcase"></i>
                            <em>6.4m³</em>
                        </span>
                        <span class="pull-right">
                            <i class="fa fa-plane"></i>
                            <em>11687km</em>
                        </span>
                    </div>
                </div>
            </div>
            <a href="app/components/airjet/travel-plane.html" class="item-link">
                <div class="travel-model-submit block-center">{{'airjet.confirm' | translate}}</div>
            </a>
        </div>
    </div>
</div>