<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" data-panel="left" class="back link"> &nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding" id="plane-title"></div>
        <div class="right"></div>
    </div>
</div>

<div class="pages">
    <div data-page="travel-plane" class="page" ng-controller="travelPlaneController">
        <div class="page-content pull-to-refresh-content">
            <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
            </div>
            <div class="travel-model-info block-center ">
                <em>!</em>
                <span>{{'airjet.model-custom-info' | translate}}</span>
            </div>
            <div class="travel-plane-card" ng-repeat="plane in planeList track by $index" ng-click="plane.selected = !plane.selected">
                <div class="tpc-left">
                    <div class="label-checkbox checkbox-circle item-content">
                        <input type="checkbox" ng-hide="true" ng-checked="plane.selected === true">
                        <div class="item-media">
                            <i class="icon icon-form-checkbox checkbox-blue"></i>
                        </div>
                    </div>
                    <img ng-src="{{plane.image}}" alt="plane">
                    <div class="plane-num">
                        <strong>{{plane.vendor.name}} {{plane.flightNo}}</strong>
                        <a ng-click="jumpPlaneDetail(plane.id);$event.stopPropagation();">{{'airjet.click-detail' | translate}}</a>
                    </div>
                </div>
                <div class="plane-money">
                    <em>以<span ng-bind="plane.price | RMB"></span>元起</em>
                </div>
            </div>
            <div class="travel-plane-submit block-center" ng-click="jumpInfo(planeList)">{{'airjet.next' | translate}}</div>
        </div>
    </div>
</div>