<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" data-panel="left" class="back link"> <i class="icon icon-back"></i><span>back</span></a></div>
        <div class="center sliding">机型选择</div>
    </div>
</div>

<div class="pages">
    <div data-page="travel-plane" class="page" ng-controller="jetController">
        <div class="page-content">
            <div class="travel-model-info block-center ">
                <em>!</em>
                <span>{{'airjet.model-custom-info' | translate}}</span>
            </div>
            <div class="travel-plane-card">
                <div class="tpc-left">
                    <label class="label-checkbox checkbox-square item-content">
                        <input type="checkbox" name="my-checkbox" ng-model="formData.round" checked="checked">
                        <div class="item-media">
                            <i class="icon icon-form-checkbox"></i>
                        </div>
                    </label>
                    <img src="assets/images/plane.png" alt="plane">
                    <div class="plane-num">
                        <strong>金鹿公务机</strong>
                        <span>飞机号 : GX01102</span>
                    </div>
                </div>
                <div class="plane-money">
                    <em>¥83万</em>
                    <a href="app/components/airjet/plane-detail.html">(点击查看详情)</a>
                </div>
            </div>
            <div class="travel-plane-card">
                <div class="tpc-left">
                    <label class="label-checkbox checkbox-square item-content">
                        <input type="checkbox" name="my-checkbox" ng-model="formData.round" checked="checked">
                        <div class="item-media">
                            <i class="icon icon-form-checkbox"></i>
                        </div>
                    </label>
                    <img src="assets/images/plane.png" alt="plane">
                    <div class="plane-num">
                        <strong>金鹿公务机</strong>
                        <span>飞机号 : GX01102</span>
                    </div>
                </div>
                <div class="plane-money">
                    <em>¥83万</em>
                    <a href="app/components/airjet/plane-detail.html">(点击查看详情)</a>
                </div>
            </div>
            <div class="travel-plane-card">
                <div class="tpc-left">
                    <label class="label-checkbox checkbox-square item-content">
                        <input type="checkbox" name="my-checkbox" ng-model="formData.round" checked="checked">
                        <div class="item-media">
                            <i class="icon icon-form-checkbox"></i>
                        </div>
                    </label>
                    <img src="assets/images/plane.png" alt="plane">
                    <div class="plane-num">
                        <strong>金鹿公务机</strong>
                        <span>飞机号 : GX01102</span>
                    </div>
                </div>
                <div class="plane-money">
                    <em>¥83万</em>
                    <a href="app/components/airjet/plane-detail.html">(点击查看详情)</a>
                </div>
            </div>
            <a href="app/components/airjet/plane-detail.html" class="item-link">
                <div class="travel-plane-submit block-center">{{'airjet.doom' | translate}}</div>
            </a>
        </div>
    </div>
</div>