<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" data-panel="left" class="back link"> &nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
        <div class="center sliding" id="plane-detail-title"></div>
        <div class="right"></div>
    </div>
</div>

<div class="pages">
    <div data-page="travel-plane-detail" class="page" ng-controller="travelPlaneController">
        <div class="page-content plane-detail">
            <div class="plane-detail-content">
                <div class="travel-model-img">
                    <div class="swiper-container swiper-init" data-observer="true" data-observe-parents="true" data-pagination=".swiper-pagination">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" ng-repeat="pic in imgSrc track by $index"><img ng-src="{{pic}}"></div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="travel-model-content">
                    <div class="plane-title clearfix">
                        <strong class="pull-left" ng-bind="planeDetail.name"></strong>
                        <span class="pull-right">{{'airjet.model' | translate}} <em ng-bind="planeDetail.model"></em></span>
                    </div>
                    <div class="plane-info">
                        <div class="plane-info-detail">
                            <div class="pid-top">
                                <img src="assets/images/travel/icon_plane_black.svg" alt="plane">
                                <em>{{'airjet.max-range' | translate}}</em>
                            </div>
                            <div class="pid-bottom">
                                <em ng-bind="planeDetail.range"></em>
                            </div>
                        </div>
                        <div class="plane-info-detail">
                            <div class="pid-top">
                                <img src="assets/images/travel/icon_luggage_black.svg" alt="luggage">
                                <em>{{'airjet.trunk' | translate}}</em>
                            </div>
                            <div class="pid-bottom">
                                <em ng-bind="planeDetail.trunk"></em>
                            </div>
                        </div>
                        <div class="plane-info-detail">
                            <div class="pid-top">
                                <img src="assets/images/travel/icon_seat_black.svg" alt="seat">
                                <em>{{'airjet.guest-num' | translate}}</em>
                            </div>
                            <div class="pid-bottom">
                                <em ng-bind="planeDetail.max"></em>
                            </div>
                        </div>
                        <div class="plane-info-detail">
                            <div class="pid-top">
                                <img src="assets/images/travel/icon_bed_black.svg" alt="bed">
                                <em>{{'airjet.bed-num' | translate}}</em>
                            </div>
                            <div class="pid-bottom">
                                <em ng-bind="planeDetail.bed"></em>
                            </div>
                        </div>
                    </div>
                    <p>
                        <strong>{{'airjet.fleet' | translate}}</strong>
                        <em ng-bind="planeDetail.fleet"></em>
                    </p>
                    <p>
                        <strong>{{'airjet.plane-device' | translate}}</strong>
                        <em ng-bind="planeDetail.device"></em>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>