<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"><a href="" class="back link">&nbsp;&nbsp;<i class="icon f7-icons">left</i><span>&nbsp;&nbsp;</span></a></div>
    <div class="center sliding">机型选择</div>
  </div>
</div>
<div class="pages">
    <div data-page="travel-model" class="page" ng-controller="travelModelController">
        <div class="page-content">
            <div class="travel-model-card" ng-repeat="model in modelList track by $index" ng-click="radioCheck(model)" ng-class="{'active' : model.type === checkModel}">
                <div class="travel-model-img">
                    <img ng-src="{{model.image}}" alt="model">
                </div>
                <label class="label-checkbox checkbox-circle item-content">
                    <input type="radio" name="my-radio" ng-checked="model.type === checkModel">
                    <div class="item-media">
                        <i class="icon icon-form-checkbox"></i>
                    </div>
                </label>
                <div class="travel-model-content">
                    <div class="travel-model-check">
                        <span><em ng-bind="model.name"></em></span>
                    </div>
                    <div class="travel-model-prompt clearfix">
                        <span class="pull-left">
                            <em>{{'airjet.max-range' | translate}}</em>
                            <!--<img src="assets/images/travel/icon_plane.svg">-->
                            <em ng-bind="model.fullloadRange"></em>
                        </span>
                        <span class="pull-left">
                            <em>{{'airjet.trunk' | translate}}</em>
                            <!--<img src="assets/images/travel/icon_luggage.svg">-->
                            <em ng-bind="model.weight"></em>
                        </span>
                        <span class="pull-right">
                            <img src="assets/images/travel/icon_people_02.svg">
                            <em ng-bind="model.capacity"></em>
                        </span>
                    </div>
                </div>
            </div>
            <div class="travel-model-submit block-center" ng-click="jumpPlane()">{{'airjet.next' | translate}}</div>
        </div>
    </div>
</div>